.signup {
  @include form;
  &__title {
    @include media(445px) {
      font-size: 2rem;
      text-align: center;
    }
  }
  &__text {
    @include text-h3;
    margin-bottom: 5px;
  }
  &__gender {
    margin-top: 2px;
    margin-bottom: 29px;
  }
  &__birthdate {
    width: 100%;
    color: $dark75;
    font-size: 1.4rem;
    text-transform: uppercase;
    border: 1px solid $dark25;
    border-radius: 4px;
    padding: 13px 35px 13px 15px;
    margin-bottom: 21px;
    transition: border-color 0.2s ease-in;
    &:hover {
      border-color: $dark50;
    }
  }
  &__toggle {
    margin-bottom: 25px;
  }
  &__btn {
    margin-bottom: 30px;
  }
  &__bottom {
    @include flex;
    margin-top: 30px;
  }
  @include media(445px) {
    padding: 15px 10px;
  }
}
