.sign-up {
  &__container {
    @include container(1190px);
  }
}
.signup {
  @include form;
  &__input {
    width: 100%;
    height: 44px;
    color: $dark75;
    border: 1px solid $dark25;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    &::placeholder {
      color: $dark25;
    }
    &:focus {
      border: 1px solid $dark50;
    }
  }
  &__text {
    @include text-h3;
    margin-bottom: 5px;
  }
  &__gender {
    margin-top: 2px;
    margin-bottom: 29px;
  }
  &__birthdate {
    width: 100%;
    color: $dark75;
    text-transform: uppercase;
    border: 1px solid $dark25;
    border-radius: 4px;
    padding: 13px 35px 13px 15px;
    margin-bottom: 21px;
  }
  &__toggle {
    position: relative;
    left: -3px;
    margin-top: 2px;
    margin-bottom: 25px;
  }
  &__btn {
    @include btn-default;
    margin-bottom: 30px;
  }
  &__bottom {
    @include flex;
    margin-top: 30px;
  }
  &__bottom-btn {
    margin-right: -2px;
  }
}
@media (max-width: 445px) {
  .signup {
    padding: 15px;
  }
}
@media (max-width: 340px) {
  .toggle-elements__label {
    font-size: 12px;
  }
}
