.sign-up {
  &__container {
    @include container(1190px);
  }
}
.signup {
  @include form;
  &__text {
    @include text-h3;
    margin-bottom: 5px;
  }
  &__gender {
    margin-top: 2px;
    margin-bottom: 29px;
  }
  &__birthdate {
    width: 100%;
    color: $dark75;
    text-transform: uppercase;
    border: 1px solid $dark25;
    border-radius: 4px;
    padding: 13px 35px 13px 15px;
    margin-bottom: 21px;
  }
  &__toggle {
    margin-bottom: 25px;
  }
  &__btn {
    margin-bottom: 30px;
  }
  &__bottom {
    @include flex;
    margin-top: 30px;
  }
  &__bottom-btn {
    margin-right: -2px;
  }
}
@media (max-width: 445px) {
  .signup {
    padding: 15px 10px;
    &__title {
      font-size: 20px;
      text-align: center;
    }
  }
}
@media (max-width: 340px) {
  .toggle-elements__label {
    font-size: 12px;
  }
}
