mixin signUp(items)
  each item in items
    - const { title, date, data, account, sugnIn } = item;
    form(action="/").signup
      .signup__title= title
      input.signup__input(type="text" placeholder='Имя')
      input.signup__input(type="text" placeholder='Фамилия')
      .signup__gender
        +radio([
          {
            id: 1,
            checked: true,
            gender: 'Мужчина'
          },
          {
            id: 2,
            gender: 'Женщина'
          }
        ])
      p.signup__text= date
      input.datepicker-here.form-elements__input.signup__birthdate(type='text' placeholder='ДД.ММ.ГГГГ')
      p.signup__text= data
      input.signup__input(type="email" placeholder='Email')
      input.signup__input(type="password" placeholder='Пароль')
      +toggle([
        {
          id: 1,
          text: 'Получать спецпредложения',
          classes: 'signup__toggle'
        }
      ])
      +btn({
        theme: 'arrow',
        text: 'перейти к оплате',
        buttonClass: 'signup__btn'
      })
      .signup__bottom
        p.signup__bottom-text= account
        +btn({
          theme: 'border',
          buttonClass: 'header-btns__signin',
          text: 'войти'
        })
