mixin pagination({list, text})
  .pagination
    ul.pagination__list
      each item in list
        - const { href, classes, link } = item;
        li.pagination__item
          a(href=href class=classes).pagination__link= link
    p.pagination__text= text