mixin pagination({list, text})
  .pagination
    ul.pagination__list
      each item in list
        -
          const { href, link, isActive = false, isNext = false } = item;
          const classes = ['pagination__link'];
          if (isActive) classes.push('pagination__link_active');
          if (isNext) classes.push('pagination__next');
        li.pagination__item
          a(href=href class=classes)= link
    p.pagination__text= text