mixin pagination({list, text})
  .pagination-elements
    ul.pagination-elements__list
      each item in list
        li.pagination-elements__item
          a(href=`${item.href}` class=item.class).pagination-elements__link= item.link
    p.pagination-elements__text= text