mixin pagination({list, text})
  .pagination
    ul.pagination__list
      each item in list
        li.pagination__item
          a(href=`${item.href}` class=item.class).pagination__link= item.link
    p.pagination__text= text