extends ../../layout/main-ulkit
include ../../utils/mixins

block variables
  - const title = 'Form Elements';
  - const pageClass = '';
  - const user1 = require('../../../assets/user1.json');
  - const user2 = require('../../../assets/user2.json');
  - const richCheckbox = require('../../../components/rich-checkbox/rich-checkbox.json');
  - const guest = require('../../../components/guest/guest.json');
  - const checkboxList= require('../../../components/checkbox-list/defaults.json');
  - const pagination = require('../../../components/pagination/pagination.json');
  - const rooms = require('../../../components/rooms/default.json');
  - const checkboxListDropdown = require('../../../components/dropdown-checkbox/defaults.json');
  - const advantages = require('./advantages.json');

block content
  section.form-elements
    .form-elements__container
      .form-elements__inner
        .form-elements__item
          .form-elements__default
            h3.form-elements__text Text Field
              span.form-elements__text_description Default
            +input({type: 'email', placeholder: 'Email', name: 'email'})
          .form-elements__default_focus
            h3.form-elements__text Text Field
              span.form-elements__text_description Hover / Focus
            +input({type: 'email', placeholder: 'This is pretty awesome', name: 'email'})
          .form-elements__guest
            h3.form-elements__text dropdown
            +dropdown({value: 'Сколько гостей', name: 'Количество гостей'})
              +guest({title: 'dropdown', list: guest})
          .form-elements__date
            h3.form-elements__text masked text field
            +imaskBirthday
          .form-elements__datedropdowns
            .form-elements__datedropdown
              h3.form-elements__text date dropdown
              +dropdown({value: 'ДД.ММ.ГГГГ', name: 'дата пребывания'})
                +air-datepicker({type: 'from'})
            .form-elements__datedropdown
              h3.form-elements__text date dropdown
              +dropdown({value: '19.08.2019', name: 'дата выезда'})
                +air-datepicker({type: 'to'})
          .form-elements__filter-date
            h3.form-elements__text filter date dropdown
            +dropdown({value: '19 авг - 23 авг', name: 'дата пребывания'})
              +air-datepicker({type: 'range'})
          .form-elements__email
            h3.form-elements__text subscription text field
            +input({type: 'email', placeholder: 'Email', name: 'email'})
            button.form-elements__email_btn(type='submit')
              include ../../../img/arrow-forward.svg
        .form-elements__item.form-elements__item_center
          .form-elements__checkbox-item
            h3.form-elements__checkbox-title checkbox buttons
            +checkbox-list(checkboxList)
          .form-elements__radio
            h3.form-elements__radio_title Radio Buttons
            +radio({
              name: 'gender',
              items: [
                {
                  checked: true,
                  value: 'man',
                  text: 'Мужчина'
                },
                {
                  value: 'woman',
                  text: 'Женщина'
                }
              ]
            })
          .form-elements__toggle
            h3.form-elements__toggle-title Toggle
            +toggle({checked: true, text: 'Получать спецпредложения'})
            +toggle({text: 'Получать спецпредложения'})
          .form-elements__likes
            +like-elements
          .form-elements__rating
            h3.form-elements__rating_title rate button
            .form-elements__rating_inner
              .form-elements__rating_item
                +rating('four')
              .form-elements__rating_item
                +rating('five')
        .form-elements__item.form-elements__item_right
          +range-slider({
            title: 'Range Slider'
          })
          +button-elements
          h3.pagination__title pagination
          +pagination({
            text: '1 – 12 из 100+ вариантов аренды',
            list: pagination
          })
      .form-elements__bottom
        .item
          .form-elements__dropdown
            h3.form-elements__text dropdown
            span.form-elements__dropdown_description Default
            +dropdown({value: '2 спальни, 2 кровати...', name: 'количество комнат'})
              +rooms({rooms})
          .form-elements__dropdown.form-elements__dropdown_active
            h3.form-elements__text dropdown
            span.form-elements__dropdown_description expanded
            +dropdown({value: '2 спальни, 2 кровати...', name: 'количество комнат'})
              +rooms({rooms, isActive: true})
          .form-elements__list-checkbox
            +dropdown-checkbox({checkboxList: checkboxListDropdown, title: 'expandable checkbox list'})
          .form-elements__list-checkbox
            +dropdown-checkbox({
              checkboxList: checkboxListDropdown,
              title: 'expandable checkbox list',
              isActive: true
            })
        .item.item_center
          .form-elements__guest
            h3.form-elements__text dropdown
            +dropdown({value: 'Сколько гостей', name: 'Количество гостей'})
              +guest({list: guest,isActive: true})
          .form-elements__rich-checkbox
            +richCheckbox('rich Checkbox Buttons', richCheckbox)
        .item.item_right
          .form-elements__guest
            h3.form-elements__text dropdown
            +dropdown({value: 'Сколько гостей', name: 'Количество гостей'})
              +guest({list: guest, isActive: true})
          .form-elements__bullet-list
            h3.form-elements__bullet-list_title bullet list
            +bullet-list([
              'Нельзя с питомцами',
              'Без вечеринок и мероприятий',
              'Время прибытия — после 13:00, а выезд до 12:00'
            ])
      .form-elements__footer
        .form-elements__advantages
          each advantage in advantages
            +advantages(advantage)
        .form-elements__comment
          +comment([user1])