mixin dropdown-checkbox({checkboxList, title, isActive = false})
  -
    const classesTitle = ['dropdown-checkbox__title'];
    const classesList = ['dropdown-checkbox__list'];
    if (isActive) {
      classesTitle.push('active');
      classesList.push('active');
    }
  .dropdown-checkbox
    h3(class=classesTitle)= title
    div(class=classesList)
      +checkbox-list(checkboxList)