mixin dropdown-checkbox({checkboxList, title, isActive = false})
  -
    const classesTitle = ['dropdown-checkbox__title', 'js-dropdown-value'];
    const classesList = ['dropdown-checkbox__list'];
    if (isActive) {
      classesTitle.push('visible');
      classesList.push('visible');
    }
  .dropdown-checkbox
    h3(class=classesTitle)= title
    div(class=classesList)
      +checkbox-list(checkboxList)