.signin
  .signin__title Войти
  input.signup__input(type="email" placeholder='Email')
  input.signup__input(type="password" placeholder='Пароль')
  button.signin__btn.btn-reset.btn-default войти
  .signin__bottom
    p.signin__bottom-text Нет аккаунта на Toxin?
    .btn-border.signin__bottom-btn
      button(type="submit").btn-border__primary.btn-reset создать