.sign-in {
  padding-top: 171px;
  padding-bottom: 175px;
  &__container {
    @include container(1190px);
  }
}
.signin {
  @include form;
  &__button {
    margin: 20px 0 30px;
  }
  &__bottom {
    @include flex;
  }

  &__bottom-btn {
    position: relative;
    right: -2px;
  }
}
@media (max-width: 426px) {
  .signin {
    padding: 15px;
  }
}
