mixin signIn(items)
  each item in items
    - const { title, buttonSignIn, text } = item;
    .signin
      .signin__title= title
      input.signup__input(type="email" placeholder='Email')
      input.signup__input(type="password" placeholder='Пароль')
      button.signin__btn.btn-reset.btn-default= buttonSignIn
      .signin__bottom
        p.signin__bottom-text= text
        +btn({
          theme: 'btn-form',
          text: 'Создать'
        })