.signin {
  @include form;
  &__button {
    margin: 20px 0 30px;
  }
  &__bottom {
    @include flex;
  }

  &__bottom-btn {
    position: relative;
    right: -2px;
  }
}
@media (max-width: 426px) {
  .signin {
    padding: 15px;
  }
}
