.radio {
  position: relative;
  &__label {
    position: relative;
    color: $dark50;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    transition: color 0.2s ease-in;
    &:not(:last-child) {
      margin-right: 17px;
    }
  }
  &__input {
    -webkit-appearance: none;
    appearance: none;
    &:checked + .radio__span::after {
      border: 1px solid $purple;
    }
    &:checked + .radio__span::before {
      opacity: 1;
    }
    &:checked + .radio__span {
      color: $dark75;
    }
  }
  &__span {
    &::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      display: block;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid $dark25;
      border-radius: 10px;
    }
    &::before {
      position: absolute;
      content: "";
      width: 12px;
      height: 12px;
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 10px;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      opacity: 0;
      transition: opacity 0.2s ease-in;
    }
  }
}
