mixin radio(items)
  .radio
    each item in items
      - const { id, checked=false ,name, gender} = item;
        label.radio__label
          input.radio__input(type="radio" name=name checked=checked)
          span.radio__span= gender