.input {
  padding: 13px 35px 13px 15px;
  border: 1px solid $dark25;
  border-radius: 4px;
  font-size: 1.4rem;
  transition: border-color 0.2s ease-in;
  &:hover {
    border-color: $dark50;
  }
  &:focus {
    border-color: $dark50;
  }
  &::placeholder {
    color: $dark25;
  }
}
