mixin rating(items)
  each item in items
    - const { classes, selectClass } = item;
    .rate-elements__item(class=classes)
      select(class=selectClass)
        each value in [1, 2, 3, 4, 5]
          option(value=`${value}`)= value