.br-theme-css-stars .br-widget {
  height: 28px;
  white-space: nowrap;
}
.br-theme-css-stars .br-widget a {
  text-decoration: none;
  height: 18px;
  width: 18px;
  float: left;
  font-size: 2.3rem;
  margin-right: 6px;
}
.br-widget {
  margin-left: 1px;
}
.br-widget a {
  position: relative;
}
.br-theme-css-stars .br-widget a:after {
  position: absolute;
  display: block;
  background-image: url("../img/star_border.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "\2605";
  color: transparent;
}
.br-theme-css-stars .br-widget a.br-active:after {
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.br-theme-css-stars .br-widget a.br-selected:after {
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.br-theme-css-stars .br-widget .br-current-rating {
  display: none;
}
.br-theme-css-stars .br-readonly a {
  cursor: default;
}
