mixin rating(items)
  each item in items
    - const { rating } = item;
    .rating__item
      select(class=`rating-${rating}`)
        each value in [1,2,3,4,5]
          option(value=`${value}`)= value