mixin sign-in
  .sign-in
    form(action="https://ramai1990.github.io/frontend/sign-up")
      h1.sign-in__title Войти
      .sign-in__input
        +input({type: 'email', placeholder: 'Email', name: 'email'})
      .sign-in__input
        +input({type: 'password', placeholder: 'Пароль', name: 'password'})
      .sign-in__button
        +button({
          theme: 'arrow',
          size: 'lg',
          text: 'войти',
          type: 'submit'
        })
      .sign-in__bottom
        p.sign-in__bottom-text Нет аккаунта на Toxin?
        +button({
          theme: 'border',
          size: 'sm',
          text: 'Создать',
          type: 'submit'
        })