.list-checkbox {
  position: relative;
  cursor: pointer;
  &__title {
    width: 266px;
    position: relative;
    padding: 5px 0;
    &--active {
      &::before {
        transform: rotate(180deg);
      }
    }
    &::before {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      right: 12px;
      top: 2px;
      background-image: url("../img/arrow-down.svg");
      background-repeat: no-repeat;
      background-position: center;
      pointer-events: none;
      transition: transform 0.3s ease-in;
    }
  }
  &__list {
    position: absolute;
    width: 266px;
    background-color: #fff;
    top: 36px;
    left: 0;
    transform: translateY(-100%);
    opacity: 0;
    z-index: -1;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    &--active {
      z-index: 1;
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__item {
    display: flex;
    align-items: center;
    & + & {
      margin-top: 15px;
    }
  }
}
