.submenu {
  position: relative;
  &__list {
    position: absolute;
    left: -5px;
    top:-5px;
    background-color: #fff;
    padding: 15px 6px;
    transform: perspective(600px) rotateX(-90deg) translateY(30px);
    transition: transform 0.3s ease-in;
    &--active {
      transform: perspective(600px) rotateX(0deg) translateY(30px);
    }
  }
  &__item {
    & + & {
      margin-top: 10px;
    }
  }
  &__link {
    display: inline-block;
    transition: color 0.15s ease-in, text-shadow 0.15s ease-in;
    &:hover {
      text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
      color: $dark;
    }
  }
}
.nav__link--active {
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
  color: $dark;
  path {
    fill-opacity: 1;
  }
}
