.landing {
  height: 830px;
  background-image: url("../img/landing.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 70px;
  &__container {
    @include container(1190px);
    height: 762px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__description {
    align-self: flex-end;
    padding-bottom: 23px;
    text-align: right;
  }
  &__text {
    position: relative;
    right: -6px;
    width: 300px;
    color: $dark75;
    line-height: 24px;
  }
}
.sign-in,
.sign-up {
  display: flex;
  align-items: center;
  background-image: url("../img/sign-in.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.sign-up {
  min-height: 683px;
}

@media (max-height: 900px) {
  .landing {
    height: 600px;
  }
  .landing__container {
    height: 550px;
  }
}
