mixin button({theme, size, type='button', text})
  button(class=`button button_theme_${theme} button_size_${size}` type=type)&attributes(attributes)= text
mixin button-link({theme, size, href, text})
  a(class=`button button_theme_${theme} button_size_${size}` href=href)= text