mixin button({theme, size, type='button', text})
  -
    const themes = {
      primary: 'button_theme-primary',
      arrow: 'button_theme-arrow',
      border: 'button_theme-border',
    };
    const sizes = {
      m: 'button_size-m',
      sm: 'button_size-sm',
      md: 'button_size-md',
      lg: 'button_size-lg'
    };
  button(class=[themes[theme], sizes[size], 'button'] type=type)= text