mixin text(list)
  each item in list
    -
      const { modifier, type, text, title } = item;
      const modifiers = {
        h1: 'text__item_h1',
        h2: 'text__item_h2',
        h3: 'text__item_h3',
        body: 'text__item_body'
      };
      const types = {
        h1: 'text__h1',
        h2: 'text__h2',
        h3: 'text__h3',
        body: 'text__body'
      };
    div(class=[modifiers[modifier], 'text'])
      p(class=[types[type]])= text
        span.text__title= title
