mixin text(config)
  -
    const { type, text, title } = config;
    const classes = {
      h1: 'text__item-h1',
      h2: 'text__item-h2',
      h3: 'text__item-h3',
      body: 'text__item-body'
    };
    const types = {
      h1: 'text__h1',
      h2: 'text__h2',
      h3: 'text__h3',
      body: 'text__body'
    };
  div(class=['text', classes[type]])
    p(class=[types[type]])= text
      span.text__title= title
