.text {
  max-width: 450px;
  height: 70px;
  line-height: 29px;
  position: relative;
  &__item-h2 {
    display: flex;
    align-items: center;
  }
  &__item-h3 {
    display: flex;
    align-items: center;
  }
  &__title {
    position: absolute;
    padding-left: 30px;
    color: $dark25;
    font-weight: 400;
    top: 0;
    left: -2px;
  }
  &__h1 {
    @include text-h1;
    line-height: 29px;
    padding-left: 73px;
  }
  &__h2 {
    @include text-h2;
    line-height: 23px;
    padding-left: 74px;
    padding-top: 18px;
  }
  &__h3 {
    @include text-h3;
    padding-left: 73px;
  }
  &__body {
    max-width: 375px;
    color: $dark75;
    font-size: 1.4rem;
    line-height: 24px;
    padding-left: 73px;
  }
  &_left-12 {
    left: -12px;
  }
  &_left-15 {
    left: -15px;
  }
  &_left-23 {
    left: -23px;
  }
  &_top-20 {
    top: 20px;
  }
}
