.text {
  max-width: 450px;
  height: 70px;
  line-height: 29px;
  position: relative;
  &__item-h2 {
    display: flex;
    align-items: center;
  }
  &__item-h3 {
    display: flex;
    align-items: center;
  }
  &__title {
    position: absolute;
    padding-left: 30px;
    color: $dark25;
    font-weight: 400;
    top: 0;
  }
  &__h1 {
    @include text-h1;
    line-height: 29px;
    padding-left: 73px;
    .text__title {
      left: -15px;
    }
  }
  &__h2 {
    @include text-h2;
    line-height: 23px;
    padding-left: 74px;
    padding-top: 18px;
    .text__title {
      left: -12px;
      top: 20px;
    }
  }
  &__h3 {
    @include text-h3;
    padding-left: 73px;
    .text__title {
      left: -2px;
      top: 20px;
    }
  }
  &__body {
    max-width: 375px;
    color: $dark75;
    font-size: 1.4rem;
    line-height: 24px;
    padding-left: 73px;
    .text__title {
      left: -23px;
    }
  }
}
