mixin text(list)
  each item in list
    - const { modifier, text, title } = item;
    div(class=`text text__item_${modifier}`)
      p(class=`text__${modifier}`)= text
        span.text__title= title
