@mixin form {
  max-width: 380px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 30px;
  padding-top: 40px;
  &__title {
    font-weight: 700;
    font-size: 24px;
    color: $dark;
    margin-bottom: 22px;
  }
  &__bottom-text {
    color: #000;
  }
}
