mixin guest({title, list})
  .guest&attributes(attributes)
    input.guest__input(type='text' value='Сколько гостей' name='количество гостей' readonly)&attributes(attributes)
    .guest__contents&attributes(attributes)
      each item in list
        .guest__option
          span.guest__title= item.title
          button(type="button" data-btn="minus").guest__btn
            include ../../img/remove.svg
          input(type="text" value=`${item.value}` data-value=`${item.dataset}` readonly).guest__value
          button(type="button" data-btn="plus").guest__btn
            include ../../img/plus.svg
      .guest__btns
        button(type="button").clear.guest__clear очистить
        button(type="button").apply.guest__apply применить