.advanteges
  .advanteges__item.advanteges__item--comfort
    h3.advanteges__title Комфорт
    p.advanteges__descr Шумопоглощающие стены
  .advanteges__item.advanteges__item--convenience
    h3.advanteges__title Удобство
    p.advanteges__descr Окно в каждой из спален
  .advanteges__item.advanteges__item--cosiness
    h3.advanteges__title Уют
    p.advanteges__descr Номер оснащён камином