.comment
	img.comment__img(src=require('/img/author.png').default, alt="")
	h3.comment__author Мурад Сарафанов
	p.comment__date 5 дней назад
	p.comment__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
		.like-elements__like
			button.like-elements__btn-like.btn-reset
			.like-elements__counter 12
.comment
	img.comment__img(src=require('/img/author-2.png').default, alt="")
	h3.comment__author Патрисия Стёклышкова
	p.comment__date Неделю назад
	p.comment__text Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент
		.like-elements__like
			button.like-elements__btn-like.btn-reset
			.like-elements__counter 2