.footer-mobile
	.footer-mobile__container
		.footer-mobile__logo
			a(href="#")
				img(src=require('/img/logo.svg').default, alt="")
		.footer-mobile__text
			| Copyright © 2018 Toxin отель. Все права зачищены.
		.footer-mobile__socials
			ul.footer-mobile__socials.mobile-socials
				li.mobile-socials__item
					a(href="#").mobile-socials__link
						include ../../img/tw.svg
				li.mobile-socials__item
					a(href="#").mobile-socials__link
						include ../../img/fc.svg
				li.mobile-socials__item
					a(href="#").mobile-socials__link
						include ../../img/in.svg
