footer.footer
	.container
		.footer__inner.footer-inner
			.footer-inner__items
				.footer__logo.logo
					a(href="#")
						img(src=require('/img/logo.svg').default, alt="")
				p.footer-inner__text
					| Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
			.footer-inner__items
				ul.footer-inner__list
					li.footer-inner__item.footer-inner__item--title
						a(href="#").footer-inner__link навигация
					li.footer-inner__item
						a(href="#").footer-inner__link О нас
					li.footer-inner__item
						a(href="#").footer-inner__link Новости
					li.footer-inner__item
						a(href="#").footer-inner__link Служба поддержки
					li.footer-inner__item
						a(href="#").footer-inner__link Услуги
			.footer-inner__items
				ul.footer-inner__list
					li.footer-inner__item.footer-inner__item--title
						a(href="#").footer-inner__link О нас
					li.footer-inner__item
						a(href="#").footer-inner__link О сервисе
					li.footer-inner__item
						a(href="#").footer-inner__link Наша команда
					li.footer-inner__item
						a(href="#").footer-inner__link Вакансии
					li.footer-inner__item
						a(href="#").footer-inner__link Инвесторы
			.footer-inner__items
				ul.footer-inner__list
					li.footer-inner__item.footer-inner__item--title
						a(href="#").footer-inner__link Служба поддержки
					li.footer-inner__item
						a(href="#").footer-inner__link Соглашения
					li.footer-inner__item
						a(href="#").footer-inner__link Сообщества
					li.footer-inner__item
						a(href="#").footer-inner__link Связь с нами
			.footer-inner__items
				.footer-inner__item--title
					a(href="#") Подписка
				p.footer-inner__text
					| Получайте специальные предложения и новости сервиса
				form.footer-inner__email(action="/")
					input(type="email" placeholder="Email")
					button.footer-inner__btn.btn-reset(type='submit')
	.footer__copy.footer-copy
		.container.footer-copy__container
			p.footer-copy__text Copyright © 2018 Toxin отель. Все права зачищены.
			ul.footer-copy__socials.copy-socials
				li.copy-socials__item
					a(href="#").copy-socials__link
						include ../../img/tw.svg
				li.copy-socials__item
					a(href="#").copy-socials__link
						include ../../img/fc.svg
				li.copy-socials__item
					a(href="#").copy-socials__link
						include ../../img/in.svg