.form-elements__dropdown.search-rooms__guest
  .elements-title.range-elements__title гости
  .dropdown-guest
    button(value="").dropdown__button.guest__btn.btn-reset
      input.dropdown__input-guest.guest__input(type='text' value='Сколько гостей' readonly)
    ul.dropdown__list.guest__list
      li.dropdown__list-item(data-value="гость,гостя,гостей") взрослые
        .counter.guest__counters
          button(data-direction="minus").counter__btn-guest.guest__counter-btn.btn-reset
            include ../../img/remove.svg
          input(type="number" value="0" data-value="взрослый,взрослых,взрослых" readonly).guest__counter
          button(data-direction="plus").counter__btn-guest.guest__counter-btn.btn-reset
            span
              include ../../img/plus.svg
      li.dropdown__list-item(data-value="гость,гостя,гостей") дети
        .counter.guest__counters
          button(data-direction="minus").counter__btn-guest.guest__counter-btn.btn-reset
            include ../../img/remove.svg
          input(type="number" value="0" data-value="ребенок,ребенка,детей" readonly).guest__counter
          button(data-direction="plus").counter__btn-guest.guest__counter-btn.btn-reset
            span
              include ../../img/plus.svg
      li.dropdown__list-item(data-value="гость,гостя,гостей") младенцы
        .counter.guest__counters
          button(data-direction="minus").counter__btn-guest.guest__counter-btn.btn-reset
            include ../../img/remove.svg
          input(type="number" value="0" data-value="младенец,младенца,младенцев" readonly).guest__counter
          button(data-direction="plus").counter__btn-guest.guest__counter-btn.btn-reset
            span
              include ../../img/plus.svg
      .guest__btns
        button.clear.guest__clear.btn-reset очистить
        button.apply.guest__apply.btn-reset применить