header.header
  .container.header__container
    .logo
      a(href="/")
        img(src=require('/img/logo.svg').default, alt="")
    nav.nav
      ul.nav__list
        li.nav__item
          a(href="/").nav__link О нас
        li.nav__item.submenu
          a(href="/").nav__link.nav__link--drop Услуги
            include ../../img/arrow-down.svg
          ul.submenu__list
            li.submenu__item
              a(href="/").submenu__link ссылка 1
            li.submenu__item
              a(href="/").submenu__link ссылка 2
            li.submenu__item
              a(href="/").submenu__link ссылка 3
        li.nav__item
          a(href="/").nav__link Вакансии
        li.nav__item
          a(href="/").nav__link Новости
        li.nav__item.submenu
          a(href="/").nav__link.nav__link--drop Соглашения
            include ../../img/arrow-down.svg
          ul.submenu__list
            li.submenu__item
              a(href="/").submenu__link ссылка 1
            li.submenu__item
              a(href="/").submenu__link ссылка 2
            li.submenu__item
              a(href="/").submenu__link ссылка 3
    .header__user
      a(href="/").header__user-link Юлий Цезарь