.form-elements__range
  .range-elements
    h3.range-elements__title.elements-title Range Slider
    .range-elements__wrapper
      input.input-with-keypress-0(type='text')
      span -
      input.input-with-keypress-1(type='text')
    .slider-keypress
  .button-elements
    h3.button-elements__title.elements-title Buttons
    button.button-elements__btn.btn-reset.btn-primary CLICK ME
    .btn-border.button-elements__border
      button(type="submit").btn-border__primary.btn-reset CLICK ME
    .button-elements__item
      a(href="/form-elements.html").button-elements__link.link-primary CLICK ME
    button.button-elements__default.btn-reset.btn-default перейти к оплате
  .pagination-elements
    h3.pagination-elements__title.elements-title pagination
    ul.pagination-elements__list
      li.pagination-elements__item
        a(href="/form-elements.html").pagination-elements__link.pagination-elements__link_active 1
      li.pagination-elements__item
        a(href="/form-elements.html").pagination-elements__link 2
      li.pagination-elements__item
        a(href="/form-elements.html").pagination-elements__link 3
      li.pagination-elements__item
        a(href="/form-elements.html").pagination-elements__link ...
      li.pagination-elements__item
        a(href="/form-elements.html").pagination-elements__link 15
      li.pagination-elements__item
        a(href="/form-elements.html").pagination-elements__link.pagination-elements__next
    p.pagination-elements__text 1 – 12 из 100+ вариантов аренды