.rich-checkbox
  .elements-title.rich-checkbox__title доступность
  .checkbox-elements__item.list-checkbox__item.rich-checkbox__item
    input.checkbox-elements__input(type="checkbox" id="rich-checkbox-1")
    label.checkbox-elements__label.rich-checkbox__label(for="rich-checkbox-1") Широкий коридор
      span Ширина коридоров в номере <br> не менее 91 см.
  .checkbox-elements__item.list-checkbox__item.rich-checkbox__item
    input.checkbox-elements__input(type="checkbox" id="rich-checkbox-2")
    label.checkbox-elements__label.rich-checkbox__label(for="rich-checkbox-2") Помощник для инвалидов
      span На 1 этаже вас встретит специалист  и проводит до номера.