form(action="/").signup
  .signup__title Регистрация аккаунта
  input.signup__input(type="text" placeholder='Имя')
  input.signup__input(type="text" placeholder='Фамилия')
  .signup__gender
    input.radio-elements__input(type="radio" id="radio-1" name="gender" checked)
    label.radio-elements__label(for="radio-1") Мужчина
    input.radio-elements__input(type="radio" id="radio-2" name="gender")
    label.radio-elements__label(for="radio-2") Женщина
  p.signup__text дата рождения
  input.datepicker-here.form-elements__input.signup__birthdate(type='text' placeholder='ДД.ММ.ГГГГ')
  p.signup__text данные для входа в сервис
  input.signup__input(type="email" placeholder='Email')
  input.signup__input(type="password" placeholder='Пароль')
  .toggle-elements__item.signup__toggle
    input.toggle-elements__input(type="checkbox" id="toggle-2")
    label.toggle-elements__label(for="toggle-2") Получать спецпредложения
  button.signup__btn.btn-reset.btn-default.search-rooms__btn перейти к оплате
  .signup__bottom
    p.signup__bottom-text Уже есть аккаунт на Toxin
    .btn-border.signup__bottom-btn
      button(type="submit").btn-border__primary.btn-reset войти
