.form-elements__textfield
  .form-elements__default
    p.form-elements__text Text Field
      span Default
    input(type="email" placeholder="Email").form-elements__input
  .form-elements__default.form-elements__default--focus
    p.form-elements__text Text Field
      span Hover / Focus
    input(type="email" placeholder="This is pretty awesome").form-elements__input.form-elements__input--focus
  include ./guest-dropdown.pug
  .form-elements__default.form-elements__date
    p.form-elements__text masked text field
    input(type="date").form-elements__input
  .form-elements__datedropdown
    .form-elements__default.form-elements__date.form-elements__datedrop
      p.form-elements__text date Dropdown
      input.datepicker-here(type='text' placeholder='ДД.ММ.ГГГГ').form-elements__input
  .form-elements__default.form-elements__datepicker
    p.form-elements__text filter date dropdown
    input.datepicker-here(type='text' placeholder='19 авг - 23 авг' data-range='true' data-multiple-dates-separator=' - ' data-date-format="d M")
  .form-elements__default.form-elements__email
    p.form-elements__text subscription text field
    input(type="email" placeholder="Email").form-elements__input
    button(type="submit").btn-reset
      include ../../img/arrow-forward.svg