.burger {
  position: fixed;
  right: 14px;
  top: 13px;
  width: 40px;
  height: 45px;
  cursor: pointer;
  z-index: 110;
  display: none;
  @include media(941px) {
    display: block;
  }
  &__btn,
  &__btn:before,
  &__btn:after {
    width: 100%;
    position: absolute;
    height: 4px;
    background: $dark75;
    display: block;
    transition: 0.3s;
    border-radius: 5px;
  }
  &__btn:before {
    content: "";
    top: -10px;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  &__btn {
    top: 20px;
  }
  &__btn:after {
    content: "";
    bottom: -10px;
    transition: bottom 300ms 300ms,
      transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  &__btn.active:before {
    content: "";
    top: 0px;
    transform: rotate(45deg);
    transition: top 300ms,
      transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  &__btn.active:after {
    content: "";
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms,
      transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  &__btn.active {
    background: rgba(255, 255, 255, 0);
  }
}
