extends ../../layout/main-ulkit
include ../../utils/mixins

block variables
  - const title = 'Colors & Type';
  - const pageClass = 'colors-type';
  - const colors = require('../../../components/colors/defaults.json');
  - const textList = require('../../../components/text/defaults.json');

block content
  .colors-type__section
    .colors-type__container
      .colors-type__inner
        .colors-type__item
          each color in colors
            +colors(color)
        .colors-type__item
          each text in textList
            +text(text)