.colors-type {
  padding: 145px 0;
  background-color: #fff;
  &__container {
    @include container(1168px);
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    @include media(840px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__logo {
    position: absolute;
    left: 30px;
    top: 30px;
  }
}
