.swiper-container,
.swiper-container2 {
  max-width: 270px;
  width: 100%;
  height: 152px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  &::after,
  &::before {
    position: absolute;
    content: "";
    width: 42px;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 99.99%,
      rgba(255, 255, 255, 0) 100%
    );
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s linear;
  }
  &::after {
    right: 0;
    top: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  &::before {
    left: 0;
    top: 0;
  }
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 0;
}
.swiper-button-next {
  background-image: url("../img/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  right: 8px;
}
.swiper-button-prev {
  background-image: url("../img/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  left: 8px;
}
.swiper-pagination {
  margin-bottom: 2px;
  text-align: right;
  padding-right: 11px;
}
.swiper-pagination-bullet {
  background: transparent;
  border: 1px solid #ffffff;
  opacity: 1;
  border-radius: 100%;
}
.swiper-pagination-bullet-active {
  background: #fff;
}
.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 2px;
}
