mixin copy(text)
  .footer__copy
    .footer-copy
      .footer-copy__container
        p.footer-copy__text= text
        .footer-copy__socials
          ul.copy-socials
            li.copy-socials__item
              a(href="https://twitter.com/" rel="noreferrer" target="_blank").copy-socials__link
                include ../../img/tw.svg
            li.copy-socials__item
              a(href="https://ru-ru.facebook.com/" rel="noreferrer" target="_blank").copy-socials__link
                include ../../img/fc.svg
            li.copy-socials__item
              a(href="https://www.instagram.com/" rel="noreferrer" target="_blank").copy-socials__link
                include ../../img/in.svg