.footer-copy {
  height: 70px;
  border-top: 1px solid #e5e5e5;
  @include media(971px) {
    border: none;
  }
  &__container {
    @include container(1190px);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media(971px) {
      display: block;
    }
  }
  &__text {
    color: $dark75;
    @include media(971px) {
      margin-bottom: 28px;
    }
  }
}
.copy-socials {
  display: flex;
  align-items: center;
  margin-left: auto;
  @include media(971px) {
    margin: 0;
    justify-content: center;
  }
  &__item {
    & + & {
      margin-left: 22px;
    }
  }
  &__link {
    display: block;
    path {
      transition: opacity 0.2s ease-in;
    }
    &:hover {
      path {
        opacity: 0.5;
      }
    }
  }
}