.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__btn {
    @include btn-reset;
    width: 30px;
    height: 30px;
    border: 1px solid $dark25;
    border-radius: 22px;
    color: $dark50;
    font-size: 1.8rem;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: border-color 0.2s ease-in;
    &:hover {
      border-width: 2px;
      border-color: $dark50;
    }
    svg {
      width: 8px;
      height: 8px;
      fill: $dark50;
      path {
        fill: $dark50;
      }
    }
  }
  &__btn[data-direction="minus"] {
    opacity: 0.3;
    &.active {
      opacity: 1;
    }
  }
  &__value {
    text-align: center;
    width: 34px;
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $dark;
    background-color: transparent;
  }
}
