mixin checkboxElements
  - const checkbox = require('../../components/checkbox/checkbox.json');
  .form-elements__checkbox
    .form-elements__checkbox-item
      +checkbox('Checkbox Buttons', checkbox)
    .form-elements__radio
      .form-elements__radio_title Radio Buttons
      +radio([
        {
          checked: true,
          name: 'gender',
          gender: 'Мужчина'
        },
        {
          name: 'gender',
          gender: 'Женщина'
        }
      ])
    .toggle
      .toggle__title Toggle
      .form-elements__toggle
        +toggle([
          {
            id: 1,
            checked: true,
            text: 'Получать спецпредложения'
          }
        ])
      .form-elements__toggle
        +toggle([
          {
            id: 2,
            text: 'Получать спецпредложения'
          }
        ])
    +like-elements
    .rating
      .rating__title rate button
      .rating__inner
        +rating([
          {
            rating: '4'
          },
          {
            rating: '5'
          }
        ])