mixin like-elements
  .like-elements
    .like-elements__title like button
    .like-elements__inner
      +like([
        {
          counter: 2
        },
        {
          counter: 12,
          buttonClasses: 'like-elements__btn-like2'
        }
      ])