.like-elements {
  &__title {
    @include text-h3;
    margin-bottom: 17px;
  }
  &__inner {
    display: flex;
    position: relative;
  }
  &__item {
    & + & {
      margin-left: 10px;
    }
  }
}
