.advantages {
  &:not(:last-child) {
    border-bottom: 1px solid $dark10;
  }
  & + & {
    margin-top: 17px;
  }
  &__item {
    width: 280px;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }
  &__img {
    padding-right: 10px;
  }
  &__content {
    color: $dark75;
    font-size: 1.4rem;
    line-height: 24px;
  }
  &__title {
    font-size: 1.4rem;
    font-weight: 700;
  }
}
