.advanteges
  .advanteges__item.advanteges__item_comfort
    h3.advanteges__title Комфорт
    p.advanteges__description Шумопоглощающие стены
  .advanteges__item.advanteges__item_convenience
    h3.advanteges__title Удобство
    p.advanteges__description Окно в каждой из спален
  .advanteges__item.advanteges__item_cosiness
    h3.advanteges__title Уют
    p.advanteges__description Номер оснащён камином