mixin advantages(list)
  .advantages
    each item in list
      - const { title, text, img } = item;
      .advantages__item
        .advantages__img
          img(src=require(`/img/${img}.svg`).default, alt="")
        .advantages__content
          h3.advantages__title= title
          p.advantages__description= text