mixin advantages(config)
  - const { title, text, img } = config;
  .advantages
    .advantages__item
      .advantages__img
        img(src=require(`/img/${img}.svg`).default, alt="")
      .advantages__content
        h3.advantages__title= title
        p.advantages__description= text