.advantages {
  &__item {
    border-bottom: 1px solid $dark10;
    display: flex;
    align-items: center;
    padding-bottom: 21px;
    & + & {
      margin-top: 16px;
    }
  }
  &__img {
    padding-right: 10px;
  }
  &__title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
  }
}
