.like {
  min-width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;

  &__input {
    -webkit-appearance: none;
    appearance: none;
    &:checked + .like__counter::after {
      background-image: url("../img/like.svg");
    }
    &:checked + .like__counter {
      color: $purple;
    }
    &:checked + .like__counter::before {
      border-color: #bc9cff;
    }
  }
  &__counter {
    font-size: 1rem;
    color: $dark50;
    padding: 0 4px;
    margin-left: 10px;
    &::after {
      position: absolute;
      content: "";
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
      background-image: url("../img/dislike.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
    &::before {
      position: absolute;
      content: "";
      left: -1px;
      top: 0;
      width: 40px;
      height: 20px;
      border: 1px solid $dark25;
      border-radius: 10px;
    }
  }
}
