mixin like(items)
  each item in items
    - const { counter, buttonClasses } = item;
    .like-elements__like
      button.like-elements__btn-like(class=buttonClasses)
      .like-elements__counter= counter