mixin richCheckbox(title, items)
  .rich-checkbox
    h3.rich-checkbox__title= title
    each item in items
      - const { id, title, description } = item;
      .rich-checkbox__item
        input.rich-checkbox__input(type='checkbox' id=`rich-checkbox-${id}`)
        label.rich-checkbox__label(for=`rich-checkbox-${id}`)= title
          span.rich-checkbox__description= description