.rich-checkbox {
  margin-bottom: 35px;
  &__item {
    width: 263px;
    display: flex;
    align-items: center;
    & + & {
      margin-top: 11px;
    }
  }
  &__title {
    @include elements-title;
    margin-bottom: 19px;
  }
  &__label {
    display: flex;
    flex-direction: column;
    color: $dark75;
    position: relative;
    font-weight: 700;
    padding-left: 30px;
    cursor: pointer;
    &::after {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      left: 5px;
      top: 4px;
      background-image: url("../img/check.svg");
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity 0.2s ease-in;
    }
    span {
      margin-top: 7px;
      font-weight: 400;
      font-size: 12px;
      color: rgba(31, 32, 65, 0.5);
    }
    &::before {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      left: 0;
      top: -2px;
      display: block;
      border: 1px solid $dark25;
      border-radius: 4px;
      background-color: #fff;
    }
  }
  &__input {
    -webkit-appearance: none;
    appearance: none;
    &:checked + .rich-checkbox__label::after {
      opacity: 1;
    }
    &:checked + .rich-checkbox__label::before {
      border-color: $purple;
    }
  }
}
