.air-datepicker {
  font-family: Montserrat, Arial, sans-serif;
  width: 320px;
  min-height: 368px;
  left: 20px;
  z-index: -1;
  transition: opacity 0.1s ease-in;
  &.-active- {
    z-index: 1;
  }
  @include media(400px) {
    width: 275px;
    min-height: auto;
  }
  @include media(340px) {
    width: 260px;
  }
  &--pointer {
    display: none;
  }
  &__range,
  &__from,
  &__to {
    position: absolute;
    z-index: -1;
    opacity: 0;
    left: -10000px;
    top: 50px;
    &.visible {
      left: -1px;
      z-index: 10;
      opacity: 1;
    }
  }
  &__to.visible {
    left: -171px;
    @include media(420px) {
      left: 0;
    }
  }
  &__from,
  &__to {
    @include media(400px) {
      left: 0;
    }
  }
  &-button {
    order: 1;
    left: 0;
    color: $purple;
    right: 30px;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $purple;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 10px;
    &:hover {
      color: $dark50;
      background: transparent;
    }
  }
  &-nav {
    border-bottom: none;
    padding-top: 15px;
    padding-bottom: 11px;
    padding-left: 16px;
    padding-right: 16px;
    &--title {
      font-weight: 700;
      font-size: 1.9rem;
      color: $dark;
      h2 {
        font-weight: 700;
        font-size: 1.9rem;
        color: $dark;
      }
      &::first-letter {
        text-transform: uppercase;
      }
    }
    &--action[data-action='prev'] {
      background-image: url('../img/left.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
    &--action[data-action='next'] {
      background-image: url('../img/right.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
    &--action path {
      stroke: none;
    }
  }
  &-body {
    &--day {
      &-names {
        margin-top: 5px;
        margin-bottom: 17px;
      }
      &-name {
        color: $purple;
        text-transform: capitalize;
        font-size: 1.2rem;
        font-weight: 700;
      }
    }
    &--cells.-days- {
      grid-auto-rows: auto;
    }
  }
  &--content {
    padding: 20px;
    padding-bottom: 9px;
    @include media(400px) {
      padding: 5px;
    }
  }
  &-cell {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 1.2rem;
    color: $dark50;
    height: 39px;
    @include media(400px) {
      height: 36px;
    }
    &.-disabled- {
      color: $dark25;
    }
    &.-current- {
      color: #fff;
      font-weight: 700;
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      border-radius: 100%;
    }
    &.-in-range- {
      color: $dark50;
      position: relative;
    }
    &.-in-range-::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      right: 0;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      opacity: 0.25;
    }
    &.-selected- {
      font-weight: 700;
      color: #fff;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 100%;
      z-index: 3;
      position: relative;
      &.-range-from-::before {
        position: absolute;
        content: '';
        width: 50%;
        height: 100%;
        right: 0;
        top: 0;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        opacity: 0.3;
        z-index: -1;
      }
      &.-range-to-::before {
        position: absolute;
        content: '';
        width: 50%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        opacity: 0.3;
        z-index: -1;
      }
    }
    &.-day-.-focus- {
      border-radius: 100%;
    }
    &.-day-.-other-month-,
    &-year.-other-decade- {
      color: $dark25;
    }
  }
  &-buttons {
    border-top: none;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 7px 0;
  }
  &-here {
    cursor: pointer;
  }
  &--buttons,
  &--time {
    border-top: none;
  }
}

.js-clearRange,
.js-clearFrom,
.js-clearTo,
.js-clearInline {
  color: #ece7ff;
  pointer-events: none;
}
.active {
  &.js-clearRange,
  &.js-clearFrom,
  &.js-clearTo,
  &.js-clearInline {
    color: $purple;
    pointer-events: auto;
  }
}
