mixin air-datepicker({type})
  case type
    when 'range'
      .air-datepicker__range.js-air-datepicker-range
    when 'from'
      .air-datepicker__from.js-air-datepicker-from
    when 'to'
      .air-datepicker__to.js-air-datepicker-to