mixin comment(items)
  .comment
    each item in items
      - const { avatar, author, date, text, value, isLike } = item;
      img.comment__img(src=require('/img/' + avatar).default, alt="")
      .comment__content
        h3.comment__author= author
        p.comment__date= date
        p.comment__text= text
          .comment__like
            +like({value: value, checked: isLike})