mixin comment(items)
  .comment
    each item in items
      - const { avatar, author, date, text, counter } = item;
      img.comment__img(src=require('/img/' + avatar).default, alt="")
      h3.comment__author= author
      p.comment__date= date
      p.comment__text= text
        +like([
          {
            counter: counter
          }
        ])