extends ../../layout/main-ulkit
include ../../utils/mixins

block variables
  - const title = 'Headers & Footers';
  - const pageClass = 'ulkit-page';
  - const footer = require('../../../components/footer/footer.json');
  - const navigation = require('../../../components/nav/nav.json');

block content
  .headers-footers
    .headers-footers__non-authorized
      +header({navigation, status:'non-authorized'})
    .headers-footers__authorized
      +header({navigation, status:'authorized'})
    .headers-footers__footer
      +footer(footer)