mixin head
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='keywords' content='отель, токсин, toxin, забронировать номер, в лучшем отеле, отельные взгляды, бронирование отеля')
    meta(name='description' content='Бронирование номеров в лучшем отеле 2018 года по версии ассоциации «Отельные взгляды»')
    link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
    title #{title}