.colors {
  & + & {
    margin-top: 20px;
  }
  &__text {
    font-weight: 400;
  }
  &__shade100,
  &__shade75,
  &__shade50,
  &__shade25,
  &__shade5,
  &__purple,
  &__green {
    height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $dark;
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 27px;
    padding-left: 110px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 70px;
      height: 70px;
      border-radius: 6px;
    }
  }
  &__shade100 {
    &::before {
      background-color: $dark;
    }
  }
  &__shade75 {
    &::before {
      background-color: $dark75;
    }
  }
  &__shade50 {
    &::before {
      background-color: $dark50;
    }
  }
  &__shade25 {
    &::before {
      background-color: $dark25;
    }
  }
  &__shade5 {
    &::before {
      background-color: $dark5;
    }
  }
  &__purple {
    &::before {
      background-color: $purple;
    }
  }
  &__green {
    &::before {
      background-color: $green;
    }
  }
  @include media(840px) {
    margin-bottom: 60px;
  }
}
