include ../../pug/utils/mixins

.card
  .swiper-container.swiper-container2
    .swiper-wrapper
      .swiper-slide
        img(src=require('/img/card.jpg').default, alt="")
      .swiper-slide
        img(src=require('/img/card.jpg').default, alt="")
      .swiper-slide
        img(src=require('/img/card.jpg').default, alt="")
      .swiper-slide
        img(src=require('/img/card.jpg').default, alt="")
    .swiper-pagination
    .swiper-button-next.card__next
    .swiper-button-prev.card__prev
  .card-luxe__title.luxe-title
    h3.luxe-title__left
      span №
      | 840
    p.luxe-title__right 9 990₽
      span в сутки
  .card-luxe__reviews
    +rating([
      {
        classes: 'card-luxe__rating',
        selectClass: 'rate-elements__rating2'
      }
    ])
    .card-luxe__text 65
      span Отзывов