.card {
  max-width: 270px;
  min-height: 257px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  &:hover {
    .swiper-button-next,
    .swiper-button-prev {
      opacity: 1;
    }
    .swiper-slide::after,
    .swiper-slide::before {
      opacity: 1;
    }
  }
  &__reviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 22px;
    padding-right: 20px;
    margin-bottom: 15px;
  }
  &__text {
    color: $dark50;
    font-size: 1.4rem;
    font-weight: 700;
  }
  &__text-feedback {
    font-weight: 400;
    padding-left: 3px;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 18px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 19px;
    &::after {
      position: absolute;
      content: '';
      width: 230px;
      height: 1px;
      bottom: -12px;
      left: 50%;
      transform: translateX(-50%);
      background: $dark10;
    }
  }
  &__title-left {
    font-size: 2rem;
    font-weight: 700;
    color: $dark;
  }
  &__title-left-number {
    font-size: 1.4rem;
    padding-right: 4px;
  }
  &__title-left-text {
    font-size: 1.2rem;
    color: $purple;
    text-transform: uppercase;
    padding-left: 8px;
  }
  &__title-right {
    color: $dark50;
    font-size: 1.4rem;
    font-weight: 700;
  }
  &__title-right-text {
    font-size: 1.2rem;
    font-weight: 400;
    padding-left: 2px;
  }
  @include media(600px) {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
