mixin card(config)
  -
    const {
      number = 001,
      text = '',
      price = '9 990₽',
      counter = 100,
      slides = [{image: 'luxe.jpg'}],
      rating = 'five'
    } = config;
  .card
    +swiper({ slides })
    .card__header
      a(href='https://ramai1990.github.io/frontend/room').card__title
        span.card__number №
        | #{number}
        span.card__number-text= text
      p.card__price= price
        span.card__price-text в сутки
    .card__reviews
      +rating(rating)
      p.card__counter= counter
        span.card__feedback Отзывов