include ../../components/advantages/advantages
include ../../components/bullet/bullet
include ../../components/comment/comment
include ../../components/dropdown/dropdown
include ../../components/radio/radio
include ../../components/signin/signin
include ../../components/signup/signup
include ../../components/header/header
include ../../components/footer/footer
include ../../components/list-checkbox/list-checkbox
include ../../components/rich-checkbox/rich-checkbox
include ../../components/checkbox/checkbox
include ../../components/toggle/toggle
include ../../components/like/like
include ../../components/rating/rating
include ../../components/checkbox/checkbox-elements
include ../../components/range/range-slider
include ../../components/btns/button-primary
include ../../components/btns/button-border
include ../../components/btns/button-link
include ../../components/btns/button-default
include ../../components/pagination/pagination
include ../../components/range/range-elements
include ../../components/text-field/text-field
include ../../components/guest-dropdown/guest
include ../../components/search-rooms/search-rooms
include ../../components/room-price/room-price
include ../../components/statistics/statistics
include ../../components/colors-type/colors
