include ../../components/advantages/advantages
include ../../components/bullet-list/bullet-list
include ../../components/comment/comment
include ../../components/rooms/rooms
include ../../components/counter/counter
include ../../components/radio/radio
include ../../components/sign-in/sign-in
include ../../components/sign-up/sign-up
include ../../components/header/header
include ../../components/footer/footer
include ../../components/footer-copy/footer-copy
include ../../components/dropdown-checkbox/dropdown-checkbox
include ../../components/rich-checkbox/rich-checkbox
include ../../components/checkbox-list/checkbox-list
include ../../components/toggle/toggle
include ../../components/like/like
include ../../components/rating/rating
include ../../components/range/range-slider
include ../../components/pagination/pagination
include ../../components/guest/guest
include ../../components/search-rooms/search-rooms
include ../../components/room-price/room-price
include ../../components/statistics/statistics
include ../../components/colors/colors
include ../../components/card/card
include ../../components/head/head
include ../../components/button/button
include ../../components/button-link/button-link
include ../../components/imask/imask-birthday
include ../../components/footer-small/footer-small
include ../../components/text/text
include ../../components/dropdown-date/dropdown-date
include ../../components/like-elements/like-elements
include ../../components/logo/logo
include ../../components/button-elements/button-elements
include ../../components/nav/nav
include ../../components/input/input
include ../../components/checkbox/checkbox
include ../../components/swiper/swiper