include ../../components/advantages/advantages
include ../../components/bullet/bullet
include ../../components/comment/comment
include ../../components/dropdown/dropdown
include ../../components/signin/signin
include ../../components/signup/signup