include ../../components/advantages/advantages
include ../../components/bullet/bullet
include ../../components/comment/comment
include ../../components/dropdown/dropdown
include ../../components/counter/counter
include ../../components/radio/radio
include ../../components/signin/signin
include ../../components/signup/signup
include ../../components/header/header
include ../../components/footer/footer
include ../../components/footer-copy/footer-copy
include ../../components/list-checkbox/list-checkbox
include ../../components/rich-checkbox/rich-checkbox
include ../../components/checkbox/checkbox
include ../../components/toggle/toggle
include ../../components/like/like
include ../../components/rating/rating
include ../../components/checkbox-elements/checkbox-elements
include ../../components/range/range-slider
include ../../components/pagination/pagination
include ../../components/range-elements/range-elements
include ../../components/text-field/text-field
include ../../components/guest-dropdown/guest
include ../../components/search-rooms/search-rooms
include ../../components/room-price/room-price
include ../../components/statistics/statistics
include ../../components/colors/colors
include ../../components/card/card
include ../../components/head/head
include ../../components/btns/btn
include ../../components/imask/imask-birthday
include ../../components/footer-small/footer-small
include ../../components/text/text
include ../../components/datepicker/air-datepicker
include ../../components/like-elements/like-elements
include ../../components/logo/logo