include ../../components/advantages/advantages
include ../../components/bullet/bullet
include ../../components/comment/comment
include ../../components/dropdown/dropdown
include ../../components/radio/radio
include ../../components/signin/signin
include ../../components/signup/signup
include ../../components/header/header
include ../../components/footer/footer
include ../../components/list-checkbox/list-checkbox
include ../../components/rich-checkbox/rich-checkbox
include ../../components/checkbox/checkboxButton
include ../../components/toggle/toggle
include ../../components/like/like
include ../../components/rating/rating