extends ../layout/main-ulkit

block variables
  - var title = 'Cards';
  - var pageClass = '';

block content
  section.cards
    .container.cards__container
      .cards__item
        include ../../components/search-rooms/search-rooms
        include ../../components/signup/signup
      .cards__item
        include ../../components/room-price/room-price
        include ../../components/signin/signin
      .cards__item
        include ../../components/card-luxe/card-luxe
        include ../../components/card/card