extends ../layout/main-ulkit
include ../../pug/utils/mixins

block variables
  - const title = 'Cards';
  - const pageClass = '';

block content
  section.cards
    .container.cards__container
      .cards__item
        +search-rooms
        +signUp([
          {
            title: 'Регистрация аккаунта',
            date: 'дата рождения',
            data: 'данные для входа в сервис',
            payment: 'перейти к оплате',
            account: 'Уже есть аккаунт на Toxin',
            sugnIn: 'войти'
          }
        ])
      .cards__item
        +roomPrice
        +signIn([
          {
            title: 'Войти',
            buttonSignIn: 'войти',
            text: 'Нет аккаунта на Toxin?',
            buttonCreate: 'создать'
          }
        ])
      .cards__item
        include ../../components/card-luxe/card-luxe
        include ../../components/card/card