extends ../layout/main

block variables
	- var title = 'Cards';
	- var pageClass = '';

block content
	section.cards
		.container.cards__container
			.cards__item
				include ../modules/search-rooms
				include ../modules/signup
			.cards__item
				include ../modules/room-price
				include ../modules/signin
			.cards__item
				include ../modules/card-luxe
				include ../modules/card
