extends ../layout/main-ulkit
include ../../pug/utils/mixins

block variables
  - const title = 'Colors & Type';
  - const pageClass = 'colors-type';
  - const colors = require('../../components/colors-type/colors.json');

block content
  .colors-type__section
    .colors-type__container
      .colors-type__inner
        .colors-type__item.item-colors
          +colors(colors)
        .colors-type__item.item-type
          h1 This one is the sub-section or widget title
          h2 Next one is the item title inside widgets
          h3 This is a label or CTA text
          p This is the body text which is used for most of the design, like paragraphs, lists, etc.