extends ../layout/main-ulkit

block variables
  - var title = 'Form Elements';
  - var pageClass = '';

block content
  section.form-elements
    .container.form-elements__container
      .form-elements__inner
        include ../../components/text-field/text-field
        include ../../components/checkbox/checkbox
        include ../../components/range/range
      .form-elements__inner
        .item
          include ../../components/dropdown/dropdown
          include ../../components/list-checkbox/list-checkbox
        .item
          include ../../components/rich-checkbox/rich-checkbox
        .item
          include ../../components/bullet/bullet
      .form-elements__inner
        .item
          include ../../components/advantages/advantages
      include ../../components/comment/comment