extends ../layout/main-ulkit
include ../../pug/utils/mixins

block variables
  - const title = 'Form Elements';
  - const pageClass = '';
  - const user1 = require('../../assets/user1.json');
  - const user2 = require('../../assets/user2.json');
  - const richCheckbox = require('../../components/rich-checkbox/rich-checkbox.json');
  - const guest = require('../../components/guest-dropdown/guest.json');
  - const ulkitGuest = require('../../components/guest-dropdown/ulkit-guest.json');
  - const checkboxList= require('../../components/checkbox-list/defaults.json');
  - const pagination = require('../../components/pagination/pagination.json');

block content
  section.form-elements
    .form-elements__container
      .form-elements__inner
        .form-elements__item
          .form-elements__default
            h3.form-elements__text Text Field
              span Default
            +input({type: 'email', placeholder: 'Email', name: 'email'})
          .form-elements__default_focus
            h3.form-elements__text Text Field
              span Hover / Focus
            +input({type: 'email', placeholder: 'This is pretty awesome', name: 'email'})
          .form-elements__guest
            h3.form-elements__text dropdown
            +guest({
              title: 'dropdown',
              list: guest
            })
          .form-elements__date
            h3.form-elements__text masked text field
            +imaskBirthday
          .form-elements__datedropdown
            +dropdown-date({
              title: 'date dropdown',
              type: 'from',
              placeholder: 'ДД.ММ.ГГГГ'
            })
            +dropdown-date({
              title: 'date dropdown',
              type: 'to',
              placeholder: '19.08.2019'
            })
          .form-elements__filter-date
            +dropdown-date({
              title: 'filter date dropdown',
              type: 'range'
            })
          .form-elements__email
            h3.form-elements__text subscription text field
            +input({type: 'email', placeholder: 'Email', name: 'email'})
            button(type="submit")
              include ../../img/arrow-forward.svg
        .form-elements__item
          .form-elements__checkbox-item
            h3.form-elements__checkbox-title checkbox buttons
            +checkbox-list(checkboxList)
          .form-elements__radio
            h3.form-elements__radio_title Radio Buttons
            +radio({
              name: 'gender',
              items: [
                {
                  checked: true,
                  value: 'man',
                  text: 'Мужчина'
                },
                {
                  value: 'woman',
                  text: 'Женщина'
                }
              ]
            })
          .form-elements__toggle
            h3.form-elements__toggle-title Toggle
            +toggle({checked: true, text: 'Получать спецпредложения'})
            +toggle({text: 'Получать спецпредложения'})
          .form-elements__likes
            +like-elements
          .form-elements__rating
            h3.form-elements__rating_title rate button
            .form-elements__rating_inner
              .form-elements__rating_item
                +rating({rating: '4'})
              .form-elements__rating_item
                +rating({rating: '5'})
        .form-elements__item
          +range-slider({
            title: 'Range Slider'
          })
          +button-elements
          h3.pagination__title pagination
          +pagination({
            text: '1 – 12 из 100+ вариантов аренды',
            list: pagination
          })
      .form-elements__bottom
        .item
          .form-elements__dropdown
            span Default
            +dropdown('dropdown', 24)
          .form-elements__dropdown
            span expanded
            +dropdown('dropdown', 167)(class="dropdown__list_active")
          .form-elements__list-checkbox
            +dropdown-checkbox({title: 'expandable checkbox list'})
          .form-elements__list-checkbox
            +dropdown-checkbox({
              title: 'expandable checkbox list',
              activeClass: 'dropdown-checkbox__list_active'
            })(class="dropdown-checkbox__title_active")
        .item
          .form-elements__guest
            h3.form-elements__text dropdown
            +guest({
              title: 'dropdown',
              list: guest
            })(class="open active")
          .form-elements__rich-checkbox
            +richCheckbox('rich Checkbox Buttons', richCheckbox)
        .item
          .form-elements__guest
            h3.form-elements__text dropdown
            +guest({
              title: 'dropdown',
              list: guest
            })(class="open active")
          .form-elements__bullet-list
            h3.form-elements__bullet-list_title bullet list
            +bullet-list([
              'Нельзя с питомцами',
              'Без вечеринок и мероприятий',
              'Время прибытия — после 13:00, а выезд до 12:00'
            ])
      .form-elements__footer
        .form-elements__advantages
            +advantages([
              {
                "img": "comfort",
                "text": "Шумопоглощающие стены",
                "title": "Комфорт"
              },
              {
                "img": "convenience",
                "text": "Окно в каждой из спален",
                "title": "Удобство"
              },
            ])
        .form-elements__comment
          +comment([user1])