extends ../layout/main-ulkit
include ../../components/advantages/advantages.pug

block variables
  - var title = 'Form Elements';
  - var pageClass = '';

block content
  section.form-elements
    .container.form-elements__container
      .form-elements__inner
        include ../../components/text-field/text-field
        include ../../components/checkbox/checkbox
        include ../../components/range/range
      .form-elements__inner
        .item
          include ../../components/dropdown/dropdown
          include ../../components/list-checkbox/list-checkbox
        .item
          include ../../components/rich-checkbox/rich-checkbox
        .item
          include ../../components/bullet/bullet
      .form-elements__inner
        .item
          +advantages([{modifier: 'comfort',text: 'Шумопоглощающие стены',title: 'Комфорт'}])
          +advantages([{modifier: 'convenience',text: 'Окно в каждой из спален',title: 'Удобство'}])
          +advantages([{modifier: 'cosiness',text: 'Номер оснащён камином',title: 'Уют'}])
      include ../../components/comment/comment