extends ../layout/main-ulkit
include ../../pug/utils/mixins

block variables
  - const title = 'Form Elements';
  - const pageClass = '';
  - const user1 = require('../../assets/user1.json');
  - const user2 = require('../../assets/user2.json');

block content
  section.form-elements
    .container.form-elements__container
      .form-elements__inner
        include ../../components/text-field/text-field
        include ../../components/checkbox/checkbox
        include ../../components/range/range
      .form-elements__inner
        .item
          +dropdown('удобства номера')
          +list-checkbox('дополнительные удобства', [
            {
              text: 'Завтрак',
              id: 1
            },
            {
              text: 'Письменный стол',
              id: 2,
              checked: true
            },
            {
              text: 'Письменный стол',
              id: 3,
              checked: true
            },
            {
              text: 'Стул для кормления',
              id: 4,
              checked: true
            },
            {
              text: 'Телевизор',
              id: 5
            },
            {
              text: 'Шампунь',
              id: 6
            }
          ])
        .item
          +richCheckbox('доступность', [
            {
              id: '1',
              title: 'Широкий коридор',
              description: 'Ширина коридоров в номере не менее 91 см.'
            },
            {
              id: '2',
              title: 'Помощник для инвалидов',
              description: 'На 1 этаже вас встретит специалист  и проводит до номера.'
            },
          ])
        .item
          +bullet(
            'bullet list',
            'elements-title bullet__title',
            [
            'Нельзя с питомцами',
            'Без вечеринок и мероприятий',
            'Время прибытия — после 13:00, а выезд до 12:00'
          ])
      .form-elements__inner
        .item
          +advantages([
            {
              modifier: 'comfort',
              text: 'Шумопоглощающие стены',
              title: 'Комфорт'
            },
            {
              modifier: 'convenience',
              text: 'Окно в каждой из спален',
              title: 'Удобство'
            },
            {
              modifier: 'cosiness',
              text: 'Номер оснащён камином',
              title: 'Уют'
            }
          ])
      +comment([
        {
          avatar: user1.avatar,
          author: user1.author,
          date: user1.date,
          text: user1.text,
          counter: user1.counter
        }
      ])
      +comment([
        {
          avatar: user2.avatar,
          author: user2.author,
          date: user2.date,
          text: user2.text,
          counter: user2.counter
        }
      ])