extends ../layout/main-ulkit
include ../../pug/utils/mixins

block variables
  - const title = 'Form Elements';
  - const pageClass = '';
  - const user1 = require('../../assets/user1.json');
  - const user2 = require('../../assets/user2.json');
  - const listCheckbox = require('../../components/list-checkbox/list-checkbox.json');
  - const richCheckbox = require('../../components/rich-checkbox/rich-checkbox.json');
  - const advantages = require('../../components/advantages/advantages.json');

block content
  section.form-elements
    .form-elements__container
      .form-elements__inner
        +textField
        +checkboxElements
        +rangeElements
      .form-elements__inner
        .item
          +dropdown('удобства номера')
          +list-checkbox('дополнительные удобства', listCheckbox)
        .item
          +richCheckbox('доступность', richCheckbox)
        .item
          +bullet(
            'bullet list',
            'elements-title bullet__title',
            [
            'Нельзя с питомцами',
            'Без вечеринок и мероприятий',
            'Время прибытия — после 13:00, а выезд до 12:00'
          ])
      .form-elements__inner
        .item
          +advantages(advantages)
      +comment([user1])
      +comment([user2])