extends ../layout/main-ulkit

block variables
  - const title = 'Headers & Footers';
  - const pageClass = 'ulkit-page';

block content
  include ../../components/header/header
  include ../../components/header/header-user
  include ../../components/footer/footer