extends ../layout/main

block variables
	- var title = 'Headers & Footers';
	- var pageClass = 'ulkit-page';

block content
	img(src=require("/img/logo__ulkit.svg").default, alt="").logo__ulkit
	include ../modules/header.pug
	include ../modules/header-user.pug
	include ../modules/footer.pug
	include ../modules/footer-mobile.pug