extends ../layout/main-ulkit
include ../utils/mixins

block variables
  - const title = 'Headers & Footers';
  - const pageClass = 'ulkit-page';
  - const header = require('../../components/header/header.json');
  - const footer = require('../../components/footer/footer.json');

block content
  +header({
    status:'non-authorized',
    navigations: header
  })
  +header({
    status:'authorized',
    navigations: header
  })
  +footer(footer)