extends ../layout/main-ulkit

block variables
  - var title = 'Headers & Footers';
  - var pageClass = 'ulkit-page';

block content
  include ../../components/header/header
  include ../../components/header/header-user
  include ../../components/footer/footer