extends ../layout/main
include ../../pug/utils/mixins

block variables
  - const title = 'Landing';
  - const pageClass = '';

block content
  section.landing
    .landing__container
      +search-rooms(25)
      .landing__description
        p.landing__text Лучшие номера для вашей работы, отдыха и просто вдохновения