extends ../layout/main
include ../../pug/utils/mixins

block variables
  - const title = 'Landing';
  - const pageClass = '';

block content
  section.landing
    <h2 hidden>landing</h2>
    .container.landing__container
      +search-rooms
      .landing__description
        p.landing__text Лучшие номера для вашей работы, отдыха и просто вдохновения