extends ../layout/main

block variables
  - var title = 'Landing';
  - var pageClass = '';

block content
  section.landing
    .container.landing__container
      include ../modules/search-rooms.pug
      .landing__description
        p.landing__text Лучшие номера для вашей работы, отдыха и просто вдохновения

