extends ../layout/main
include ../../pug/utils/mixins

block variables
  - const title = 'Search Room';
  - const pageClass = '';

block content
  section.search-room
    .container.search-room__container
      .search-room__grid
        .search-room__filter
          .form-elements__default.form-elements__datepicker
            p.form-elements__text даты пребывания в отеле
            input.datepicker-here(type='text' placeholder='19 авг - 23 авг' data-range='true' data-multiple-dates-separator=' - ' data-date-format="d M")
          include ../../components/guest-dropdown/guest-dropdown
          .range-elements.search-room__range
            h3.range-elements__title.elements-title.search-room__range-title диапазон цены
            .range-elements__wrapper
              input.input-with-keypress-0(type='text')
              span -
              input.input-with-keypress-1(type='text')
            .slider-keypress
            span Стоимость за сутки пребывания в номере
          .form-elements__checkbox
            +checkbox('правила дома', [
              {
                id: 1,
                text: 'Можно курить'
              },
              {
                id: 2,
                text: 'Можно с питомцами',
                checked: true
              },
              {
                id: 3,
                text: 'Можно пригласить гостей (до 10 человек)',
                checked: true
              },
            ])
          +richCheckbox('доступность', [
            {
              id: '1',
              title: 'Широкий коридор',
              description: 'Ширина коридоров в номере не менее 91 см.'
            },
            {
              id: '2',
              title: 'Помощник для инвалидов',
              description: 'На 1 этаже вас встретит специалист  и проводит до номера.'
            },
          ])
          +dropdown('удобства номера')
          +list-checkbox('дополнительные удобства', [
            {
              text: 'Завтрак',
              id: 1
            },
            {
              text: 'Письменный стол',
              id: 2,
              checked: true
            },
            {
              text: 'Письменный стол',
              id: 3,
              checked: true
            },
            {
              text: 'Стул для кормления',
              id: 4,
              checked: true
            },
            {
              text: 'Телевизор',
              id: 5
            },
            {
              text: 'Шампунь',
              id: 6
            }
          ])
        .search-room__cards
          h3.search-room__title Номера, которые мы для вас подобрали
          include ../../components/card-luxe/card-luxe
          include ../../components/card/card
          include ../../components/cards/cards/card-2.pug
          include ../../components/cards/cards/card-3.pug
          include ../../components/cards/cards/card-4.pug
          include ../../components/cards/cards/card-5.pug
          include ../../components/cards/cards/card-6.pug
          include ../../components/cards/cards/card-7.pug
          include ../../components/cards/cards/card-8.pug
          include ../../components/cards/cards/card-9.pug
          include ../../components/cards/cards/card-10.pug
          include ../../components/cards/cards/card-11.pug
          .search-room__pagination
            .pagination-elements
              ul.pagination-elements__list
                li.pagination-elements__item
                  a(href="/search-room.html").pagination-elements__link.pagination-elements__link_active 1
                li.pagination-elements__item
                  a(href="/search-room.html").pagination-elements__link 2
                li.pagination-elements__item
                  a(href="/search-room.html").pagination-elements__link 3
                li.pagination-elements__item
                  a(href="/search-room.html").pagination-elements__link ...
                li.pagination-elements__item
                  a(href="/search-room.html").pagination-elements__link 15
                li.pagination-elements__item
                  a(href="/search-room.html").pagination-elements__link.pagination-elements__next
              p.pagination-elements__text 1 – 12 из 100+ вариантов аренды