extends ../layout/main
include ../../pug/utils/mixins

block variables
  - const title = 'Search Room';
  - const pageClass = '';
  - const listCheckbox = require('../../components/list-checkbox/list-checkbox.json');
  - const pagination = require('../../components/pagination/pagination.json');
  - const guest = require('../../components/guest-dropdown/guest.json');
  - const cards = require('../../components/card/cards.json');
  - const checkbox = require('../../components/checkbox/checkbox.json');
  - const richCheckbox = require('../../components/rich-checkbox/rich-checkbox.json');

block content
  section.search-room
    .search-room__container
      .search-room__grid
        .search-room__filter
          .form-elements__default.form-elements__datepicker
            p.form-elements__text даты пребывания в отеле
            input.datepicker-here(type='text' placeholder='19 авг - 23 авг' data-range='true' data-multiple-dates-separator=' - ' data-date-format="d M")
          +guest({
            title: 'гости',
            list: guest
          })
          +rangeSlider([
            {
              title: 'диапазон цены',
              classRange: 'search-room__range',
              classTitle: 'search-room__range-title',
              span: 'Стоимость за сутки пребывания в номере'
            }
          ])
          .form-elements__checkbox
            +checkbox('правила дома', checkbox)
          +richCheckbox('доступность', richCheckbox)
          +dropdown('удобства номера')
          +list-checkbox('дополнительные удобства', listCheckbox)
        .search-room__cards
          h3.search-room__title Номера, которые мы для вас подобрали
          +card(cards)
          .search-room__pagination
            +pagination({
              text: '1 – 12 из 100+ вариантов аренды',
              list: pagination
            })