extends ../layout/main
include ../../pug/utils/mixins

block variables
  - const title = 'Sign up';
  - const pageClass = '';

block content
  section.sign-up
    .container
      +signUp([
        {
          title: 'Регистрация аккаунта',
          date: 'дата рождения',
          data: 'данные для входа в сервис',
          account: 'Уже есть аккаунт на Toxin',
          sugnIn: 'войти'
        }
      ])