extends ../layout/main
include ../../pug/utils/mixins

block variables
  - const title = 'Sign in';
  - const pageClass = '';

block content
  section.sign-in
    h3(hidden) Войти
    .sign-in__container
      +signIn([
        {
          title: 'Войти',
          text: 'Нет аккаунта на Toxin?'
        }
      ])