extends ../layout/main
include ../../pug/utils/mixins

block variables
  - const title = 'Sign in';
  - const pageClass = '';

block content
  section.sign-in
    h3(hidden) Войти
    .container.sign-in__container
      +signIn([
        {
          title: 'Войти',
          buttonSignIn: 'войти',
          text: 'Нет аккаунта на Toxin?',
          buttonCreate: 'создать'
        }
      ])