extends ../layout/main
include ../../pug/utils/mixins

block variables
  - const title = 'Sign up';
  - const pageClass = '';

block content
  section.sign-up
    .container
      +signUp(
        'Регистрация аккаунта',
        'дата рождения',
        'данные для входа в сервис',
        'перейти к оплате',
        'Уже есть аккаунт на Toxin',
        'войти'
      )