extends ../../layout/main-ulkit
include ../../utils/mixins

block variables
  - const title = 'Cards';
  - const pageClass = '';
  - const guest = require('../../../components/guest-dropdown/guest.json');

block content
  section.cards
    .cards__container
      .cards__item
        .cards__search-rooms
          +search-rooms({
            guest: guest
          })
        +signUp
      .cards__item
        .cards__room-price
          +roomPrice(guest)
        .cards__sign-in
          +signIn
      .cards__item
        .cards__datepicker
        .cards__card
          +card([
            {
              type: 'luxe',
              number: 888,
              text: 'люкс',
              price: '9 990₽',
              counter: 145,
              rating: 5,
              slides: [
                {image: 'luxe.jpg'},
                {image: 'luxe-2.png'},
                {image: 'luxe-3.png'},
                {image: 'luxe-4.png'}
              ]
            }
          ])
        .cards__card
          +card([
            {
              type: 'normal',
              number: 840,
              price: '9 900₽',
              counter: 65,
              rating: 4,
              slides: [
                {image: 'card.jpg'},
                {image: 'card.jpg'},
                {image: 'card.jpg'},
                {image: 'card.jpg'}
              ],
              swipperArrowHidden: 'card__arrow_hidden'
            }
          ])