extends ../../layout/main-ulkit
include ../../utils/mixins

block variables
  - const title = 'Cards';
  - const pageClass = '';
  - const guest = require('../../../components/guest/guest.json');
  - const cards = require('./defaults.json');

block content
  section.cards
    .cards__container
      .cards__item
        .cards__search-rooms
          +search-rooms({ guest })
        +sign-up
      .cards__item
        .cards__room-price
          +roomPrice(guest)
        .cards__sign-in
          +sign-in
      .cards__item
        .cards__datepicker
        .cards__card
          +card(cards)