mixin sign-up
  .sign-up
    form(action='https://ramai1990.github.io/frontend/sign-in')
      h1.sign-up__title Регистрация аккаунта
      .sign-up__input
        +input({type: 'text', placeholder: 'Имя', name: 'Имя'})
      .sign-up__input
        +input({type: 'text', placeholder: 'Фамилия', name: 'Фамилия'})
      .sign-up__gender
        +radio({
          name: 'gender',
          items: [
            {
              checked: true,
              value: 'man',
              text: 'Мужчина'
            },
            {
              value: 'woman',
              text: 'Женщина'
            }
          ]
        })
      h3.sign-up__text дата рождения
      +imask
      h3.sign-up__text данные для входа в сервис
      .sign-up__input
        +input({type: 'email', placeholder: 'Email', name: 'email'})
      .sign-up__input
        +input({type: 'password', placeholder: 'Пароль', name: 'password'})
      .sign-up__toggle
        +toggle({text: 'Получать спецпредложения'})
      .sign-up__btn
        +button({
          theme: 'arrow',
          size: 'lg',
          text: 'зарегистрироваться',
          type: 'submit'
        })
      .sign-up__bottom
        p.sign-up__bottom-text Уже есть аккаунт на Toxin
        +button({
          theme: 'border',
          size: 'sm',
          text: 'Войти',
          type: 'submit'
        })
