.sign-up {
  @include form;
  &__title {
    @include media(445px) {
      font-size: 2rem;
      text-align: center;
    }
  }
  &__text {
    @include text-h3;
    margin-bottom: 5px;
  }
  &__gender {
    margin-top: 2px;
    margin-bottom: 29px;
  }
  &__toggle {
    margin-bottom: 25px;
  }
  &__btn {
    margin-bottom: 30px;
  }
  &__bottom {
    @include flex;
    margin-top: 30px;
  }
  @include media(445px) {
    padding: 15px 10px;
  }
}
