include ../../pug/utils/mixins

.card-luxe
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        img(src=require('/img/luxe.jpg').default, alt="")
      .swiper-slide
        img(src=require('/img/luxe-2.png').default, alt="")
      .swiper-slide
        img(src=require('/img/luxe-3.png').default, alt="")
      .swiper-slide
        img(src=require('/img/luxe-4.png').default, alt="")
    .swiper-pagination
    .swiper-button-next
    .swiper-button-prev
  .card-luxe__title.luxe-title
    h3.luxe-title__left
      span №
      | 888
      span люкс
    p.luxe-title__right 9 990₽
      span в сутки
  .card-luxe__reviews
    +rating([
      {
        classes: 'card-luxe__rating',
        selectClass: 'rate-elements__rating'
      }
    ])
    .card-luxe__text 145
      span Отзывов
