mixin rangeSlider(items)
  each item in items
    - const { title, classRange, span } = item;
    .range
      h3.range__title= title
      .range__wrapper
        input.input-with-keypress-0(type='text')
        span -
        input.input-with-keypress-1(type='text')
      .slider-keypress
      span= span