mixin range-slider({ title, span })
  .range
    h3.range__title= title
    .range__wrapper
      input.range__from(type='text')
      span.range__dash -
      input.range__to(type='text')
    .range__keypress
    span.range__text= span