mixin rangeElements
  .form-elements__range
    +rangeSlider([
      {
        title: 'Range Slider'
      }
    ])
    .button-elements
      h3.button-elements__title.elements-title Buttons
      +btn({
        theme: 'primary',
        text: 'CLICK ME',
        buttonClass: 'button-elements__btn'
      })
      +btn({
        theme: 'border',
        text: 'CLICK ME',
        buttonClass: 'header-btns__signin'
      })(class='button-elements__border')
      .button-elements__item
        +btn({
          text: 'CLICK ME',
          href: 'form-elements.html'
        })
      +btn({
        theme: 'arrow',
        text: 'перейти к оплате'
      })
    +pagination({
      title: 'pagination',
      text: '1 – 12 из 100+ вариантов аренды',
      list: [
        {
          href: '/form-elements.html',
          link: 1,
          class: 'pagination-elements__link_active'
        },
        {
          href: '/form-elements.html',
          link: 2
        },
        {
          href: '/form-elements.html',
          link: 3
        },
        {
          href: '/form-elements.html',
          link: '...'
        },
        {
          href: '/form-elements.html',
          link: 15
        },
        {
          href: '/form-elements.html',
          class: 'pagination-elements__next'
        }
      ]
    })