mixin header({navigation, status})
  header.header
    .header__container
      +logo
      +nav(navigation)
      if status === 'non-authorized'
        .header__buttons
          .header__button
            +button-link({
              theme: 'border',
              size: 'm',
              text: 'Войти',
              href: 'https://ramai1990.github.io/frontend/sign-in'
            })
          .header__button
            +button-link({
              theme: 'primary',
              size: 'md',
              text: 'зарегистрироваться',
              href: 'https://ramai1990.github.io/frontend/sign-up'
            })
      else if status === 'authorized'
        .header__user
          a(href='https://ramai1990.github.io/frontend/404.html').header__user-link Юлий Цезарь