mixin header({status, navigations})
  header.header
    .header__container
      .logo
        a(href="https://ramai1990.github.io/frontend")
          img(src=require('/img/logo.svg').default, alt="")
      nav.nav
        ul.nav__list
          each nav in navigations
            if nav.submenu
              li.nav__item.submenu
                a.nav__link.nav__link_dropdown= nav.name
                  include ../../img/arrow-down.svg
                ul.submenu__list
                  each item in nav.items
                    li.submenu__item
                      a(href="https://ramai1990.github.io/frontend/404.html").submenu__link= item.name
            else
              li.nav__item
                a(href="https://ramai1990.github.io/frontend/404.html").nav__link= nav.name
      if status === 'non-authorized'
        .header__btns
          .header-btns
            +btn({
              theme: 'border',
              href: 'https://ramai1990.github.io/frontend/sign-in',
              text: 'войти',
              buttonClass: 'header-btns__signin'
            })
            +btn({
              theme: 'primary',
              href: 'https://ramai1990.github.io/frontend/sign-up',
              text: 'зарегистрироваться'
            })
      else if status === 'authorized'
        .header__user
          a(href="https://ramai1990.github.io/frontend/404.html").header__user-link Юлий Цезарь