.header {
  height: 70px;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  &__container {
    @include container(1190px);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__button:not(:last-child) {
    margin-right: 20px;
    @include media(541px) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  &__buttons {
    height: 33px;
    display: flex;
    margin-left: 26px;
    @include media(941px) {
      margin-right: 65px;
      z-index: 100;
    }
    @include media(541px) {
      flex-direction: column;
      align-items: center;
      position: fixed;
      right: -57px;
      top: 70px;
      flex-direction: column;
      transform: translateX(130%);
    }
    &.active {
      transition: transform 0.3s ease-in;
      transform: translateX(0);
    }
  }
  &__user {
    color: $dark50;
    font-size: 1.4rem;
    transition: text-shadow 0.15s ease-in;
    &:hover {
      text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
    }
  }
  &__user-link {
    border-left: 1px solid $dark10;
    padding: 7px 0 7px 20px;
    margin-left: 27px;
  }
}
