extends ../../layout/main
include ../../utils/mixins

block variables
  - const title = 'Sign in';
  - const pageClass = '';
  - const footer = require('../../../components/footer/footer.json');
  - const navigation = require('../../../components/nav/nav.json');

block content
  +header({navigation, status: 'non-authorized'})
  .main
    section.sign-in-page
      .sign-in-page__container
        +sign-in
  +footer(footer)