.sign-in-page {
  display: flex;
  align-items: center;
  background-image: url("../img/sign-in.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 171px;
  padding-bottom: 172px;
  &__container {
    @include container(1190px);
  }
}
