.statistics {
  width: 320px;
}
.apexcharts-legend {
  &-text {
    padding-left: 2px;
    line-height: 20px;
    color: rgba(31, 32, 65, 0.75);
  }
  @include media(350px) {
    padding: 0 30px !important;
  }
}
.apexcharts-datalabel-label {
  font-size: 3rem;
  font-weight: 700;
}
