.card
	.swiper-container.swiper-container2
		.swiper-wrapper
			.swiper-slide
				img(src=require('/img/card-9.png').default, alt="")
			.swiper-slide
				img(src=require('/img/card-9.png').default, alt="")
			.swiper-slide
				img(src=require('/img/card-9.png').default, alt="")
			.swiper-slide
				img(src=require('/img/card-9.png').default, alt="")
		.swiper-pagination
		.swiper-button-next.card__next
		.swiper-button-prev.card__prev
	.card-luxe__title.luxe-title
		h3.luxe-title__left
			span №
			| 666
		p.luxe-title__right 5 000₽
			span в сутки
	.card-luxe__reviews
		.rate-elements__item.card-luxe__rating
			select.rate-elements__rating2
				option(value='1') 1
				option(value='2') 2
				option(value='3') 3
				option(value='4') 4
				option(value='5') 5
		.card-luxe__text 25
			span Отзывов