mixin rooms({rooms, isActive = false})
  -
    const classes = ['rooms', 'js-rooms'];
    const classesList = ['rooms__list'];
    if (isActive) classes.push('visible');
  div(class=classes)
    ul(class=classesList data-list='list')
      each item in rooms
        - const {subtitle, value, list } = item;
        li.rooms__list-item.js-rooms-list-item= subtitle
          +counter({ list, value })