.colors-type {
  &__container {
    max-width: 1230px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}
.item-colors {
  padding-left: 55px;
  &__text {
    height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $dark;
    font-weight: 700;
    font-size: 19px;
    line-height: 27px;
    padding-left: 110px;
    position: relative;

    span {
      font-weight: 400;
    }
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 70px;
      height: 70px;
      border-radius: 6px;
    }
    & + & {
      margin-top: 20px;
    }
  }
  &__shade100 {
    &::before {
      background-color: $dark;
    }
  }
  &__shade75 {
    &::before {
      background-color: $dark75;
    }
  }
  &__shade50 {
    &::before {
      background-color: $dark50;
    }
  }
  &__shade25 {
    &::before {
      background-color: $dark25;
    }
  }
  &__shade5 {
    &::before {
      background-color: $dark5;
    }
  }
  &__purple {
    &::before {
      background-color: $purple;
    }
  }
  &__green {
    &::before {
      background-color: $green;
    }
  }
}
.item-type {
  max-width: 440px;
  color: $dark;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 1px;
  h1 {
    font-size: 24px;
    line-height: 29px;
    padding-left: 59px;
    position: relative;
    margin-bottom: 52px;
    &::before {
      position: absolute;
      content: "H1";
      left: 0;
      top: 0;
      font-size: 24px;
      color: $dark25;
      font-weight: 400;
    }
  }
  h2 {
    font-size: 19px;
    line-height: 24px;
    padding-left: 60px;
    position: relative;
    margin-bottom: 51px;
    &::before {
      position: absolute;
      content: "H2";
      left: 0;
      top: 0;
      font-size: 19px;
      color: $dark25;
      font-weight: 400;
    }
  }
  h3 {
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 60px;
    position: relative;
    margin-bottom: 48px;
    &::before {
      position: absolute;
      content: "H3";
      left: 12px;
      top: 0;
      font-size: 12px;
      color: $dark25;
      font-weight: 400;
    }
  }
  p {
    max-width: 370px;
    font-weight: 400;
    line-height: 24px;
    color: $dark75;
    padding-left: 60px;
    position: relative;
    &::before {
      position: absolute;
      content: "Body";
      left: -8px;
      top: 0;
      font-size: 14px;
      color: $dark25;
      font-weight: 400;
    }
  }
}
