.colors-type {
  &__container {
    @include container(1168px);
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    @include media(840px) {
      flex-direction: column;
      align-items: center;
    }
  }
}
