mixin checkbox(items)
  - const { checked=false, name } = items;
    li.checkbox
      label.checkbox__label
        input.checkbox__input(type='checkbox' checked=checked name=name)
        span.checkbox__text= name