.checkbox {
  & + & {
    padding-top: 15px;
  }
  &__label {
    display: flex;
    flex-direction: column;
    color: $dark50;
    font-size: 1.4rem;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    transition: color 0.2s ease-in;
    &:hover {
      color: $dark;
      .checkbox__text::before {
        border-color: $dark75;
      }
    }
  }
  &__input {
    -webkit-appearance: none;
    appearance: none;
    &:checked + .checkbox__text {
      color: $dark75;
    }
    &:checked + .checkbox__text::after {
      opacity: 1;
    }
    &:checked + .checkbox__text::before {
      border-color: $purple;
    }
  }
  &__text {
    &::after {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      left: 5px;
      top: 4px;
      background-image: url("../img/check.svg");
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity 0.2s ease-in;
    }
    &::before {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      left: 0;
      top: -2px;
      display: block;
      border: 1px solid $dark25;
      border-radius: 4px;
      background-color: #fff;
      transition: border-color 0.2s ease-in;
    }
  }
}
