mixin checkboxElements
  - const checkbox = require('../../components/checkbox/checkbox.json');
  .form-elements__checkbox
    +checkbox('Checkbox Buttons', checkbox)
    .radio-elements
      .radio-elements__title Radio Buttons
      .radio-elements__item
        +radio([
          {
            id: 1,
            checked: true,
            gender: 'Мужчина'
          },
          {
            id: 2,
            gender: 'Женщина'
          }
        ])
    .toggle-elements
      .toggle-elements__title Toggle
      +toggle([
        {
          id: 1,
          checked: true,
          text: 'Получать спецпредложения'
        },
        {
          id: 2,
          text: 'Получать спецпредложения'
        }
      ])
    .like-elements
      .like-elements__title.elements-title like button
      .like-elements__inner
        +like([
          {
            counter: 2
          },
          {
            counter: 12,
            classes: 'like-elements__like2',
            buttonClasses: 'like-elements__btn-like2'
          }
        ])
    .rate-elements
      .rate-elements__title.elements-title rate button
      .rate-elements__inner
        +rating([
          {
            selectClass: 'rate-elements__rating'
          },
          {
            selectClass: 'rate-elements__rating2'
          }
        ])