.bullet-list {
  max-width: 260px;
  &__item {
    color: $dark75;
    line-height: 1.7;
    padding-left: 20px;
    position: relative;
    & + & {
      margin-top: 11px;
    }
    &::before {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      left: 0;
      top: 5px;
      border-radius: 100%;
      background-color: $dark25;
    }
  }
}
