.room-price {
  width: 380px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 30px;
  padding-top: 40px;

  &__amount {
    margin-top: 13px;
  }
  &__additional {
    margin-bottom: 34px;
  }
  &__total {
    font-size: 19px;
    color: $dark;
    margin-bottom: 16px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 53%;
      height: 1px;
      bottom: 10px;
      left: 44%;
      transform: translateX(-44%);
      background-image: url("../img/dots.svg");
    }
    h3 {
      font-size: 19px;
    }
    input {
      width: 77px;
      font-weight: 700;
      color: $dark;
    }
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $dark25;
      border: 1px solid $dark25;
      border-radius: 100%;
      margin-right: auto;
      margin-left: 10px;
    }
  }
  &__input {
    width: 100%;
    height: 34px;
    color: $dark75;
    border: none;
    background-color: #fff;
    padding: 0;
    &_price {
      width: 62px;
      text-align: right;
    }
  }
  &__text {
    color: $dark75;
  }
}
.price-title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 23px;
  &__left {
    font-size: 24px;
    font-weight: 700;
    color: $dark;
    span:nth-child(1) {
      font-size: 14px;
      padding-right: 4px;
    }
    span:nth-child(2) {
      font-size: 14px;
      font-weight: 700;
      color: $purple;
      text-transform: uppercase;
    }
  }
  &__right {
    font-weight: 700;
    color: $dark50;
    span {
      font-size: 12px;
      font-weight: 400;
      padding-left: 2px;
    }
  }
}

@media (max-width: 400px) {
  .room-price {
    max-width: 100%;
    width: 100%;
    padding: 15px;
  }
  .room-price__text {
    width: 58%;
  }
}
