mixin roomPrice(guest)
  .room-price
    form(action='https://ramai1990.github.io/frontend/sign-in')
      .room-price__header
        h3.room-price__header_left
          span.room-price__number №
          | 888
          span.room-price__number-text люкс
        p.room-price__price 9 990₽
          span.room-price__price-text в сутки
      .room-price__dates
        .room-price__date
          h3.room-price__title прибытие
          +dropdown({value: 'ДД.ММ.ГГГГ', name: 'дата пребывания'})
            +air-datepicker({type: 'from'})
        .room-price__date
          h3.room-price__title выезд
          +dropdown({value: 'ДД.ММ.ГГГГ', name: 'дата выезда'})
            +air-datepicker({type: 'to'})
      .room-price__guest
        h3.room-price__title гости
        +dropdown({value: 'Сколько гостей', name: 'Количество гостей'})
          +guest({
            title: 'гости',
            list: guest
          })
      .room-price__amount
        p.room-price__text 9 990₽ х 4 суток
        input.room-price__input(type='text' value='39 960₽' disabled)
      .room-price__services
        p.room-price__text Сбор за услуги: скидка 2 179₽
        input.room-price__input(type='text' value='0₽' disabled)
      .room-price__additional
        p.room-price__text Сбор за дополнительные услуги
        input.room-price__input(type='text' value='300₽' disabled)
      .room-price__total
        h3.room-price__title Итого
        input.room-price__input.room-price__total-input(type='text' value='38 081₽' disabled)
      +button({
        theme: 'arrow',
        size: 'lg',
        text: 'забронировать',
        type: 'submit'
      })