.submenu {
  position: relative;
  &__list {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: -5px;
    top: -5px;
    background-color: #f9f5f5;
    z-index: 10;
    padding: 15px 6px;
    transform: perspective(600px) rotateX(-90deg) translateY(30px);
    transition: transform 0.3s ease-in;
    border-radius: 4px;
    &.visible {
      transform: perspective(600px) rotateX(0deg) translateY(30px);
    }
  }
  &__item {
    & + & {
      margin-top: 10px;
    }
  }
  &__link {
    display: inline-block;
    transition: color 0.15s ease-in, text-shadow 0.15s ease-in;
    &:hover {
      text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
      color: $dark;
    }
  }
}
