mixin socials
  ul.socials
    li.socials__item
      a(href='https://twitter.com/' rel='noreferrer' target='_blank').socials__link
        include ../../img/tw.svg
    li.socials__item
      a(href='https://ru-ru.facebook.com/' rel='noreferrer' target='_blank').socials__link
        include ../../img/fc.svg
    li.socials__item
      a(href='https://www.instagram.com/' rel='noreferrer' target='_blank').socials__link
        include ../../img/in.svg