block variables
include ../utils/mixins

- const footer = require('../../components/footer/footer.json');

doctype html
html(lang="ru")
  +head
  body(class=pageClass)
    .burger
      span
    .site-container
      +header({status: 'non-authorized'})
      .main
        block content
      +footer(footer)