block variables
include ../utils/mixins

doctype html
html(lang='ru')
  +head
  body(class=pageClass)
    .site-container
      img(src=require('/img/logo__ulkit.svg').default, alt='').logo__ulkit
      block content