block variables
include ../utils/mixins

doctype html
html(lang='ru')
  +head
  body(class=pageClass)
    .burger.js-burger
      span.burger__btn.js-burger-btn
    .site-container
      block content
