.imask {
  width: 100%;
  color: $dark75;
  font-size: 1.4rem;
  text-transform: uppercase;
  border: 1px solid $dark25;
  border-radius: 4px;
  padding: 13px 35px 13px 15px;
  margin-bottom: 21px;
  transition: border-color 0.2s ease-in;
  &:hover {
    border-color: $dark50;
  }
}
