.toggle-elements {
  margin-bottom: 47px;
  &__title {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: $dark;
    margin-bottom: 19px;
  }

  &__item {
    position: relative;
    left: -2px;
    &:not(:last-child) {
      margin-bottom: 26px;
    }
  }

  &__input {
    -webkit-appearance: none;
    appearance: none;
    &:checked + .toggle-elements__label::after {
      border: 1px solid $purple;
    }
    &:checked + .toggle-elements__label::before {
      background-color: $purple;
      left: 24px;
    }
  }
  &__label {
    color: $dark75;
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
    &::after {
      position: absolute;
      content: "";
      width: 40px;
      height: 20px;
      display: block;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid $dark25;
      border-radius: 10px;
    }
    &::before {
      position: absolute;
      content: "";
      width: 12px;
      height: 12px;
      display: block;
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
      background-color: $dark25;
      border-radius: 10px;
      transition: 0.4s;
    }
  }
}
