mixin toggle(items)
  each item in items
    - const { id, checked, text, classes } = item;
    if checked
      .toggle__item
        input.toggle__input(type="checkbox" id=`toggle-${id}` checked)
        label.toggle__label(for=`toggle-${id}`)= text
    else
      .toggle__item
        input.toggle__input(type="checkbox" id=`toggle-${id}`)
        label.toggle__label(for=`toggle-${id}`)= text