mixin search-rooms
  - const guest = require('../../components/guest-dropdown/guest.json');
  .search-rooms
    .search-rooms__title Найдём номера под ваши пожелания
    .dropdown-date.search-rooms__date
      .search-rooms__dropdown
        p.search-rooms__text прибытие
        input.dropdown-date__range.dropdown-date__range_from.search-rooms__input(type="text" placeholder="ДД.ММ.ГГГГ" readonly)
      .search-rooms__dropdown
        p.search-rooms__text выезд
        input.dropdown-date__range.dropdown-date__range_to.search-rooms__input(type="text" placeholder="ДД.ММ.ГГГГ" readonly)
    .form-elements__dropdown
      +guest({
        title: 'гости',
        list: guest
      })
    +btn({
      theme: 'arrow',
      href: 'https://ramai1990.github.io/frontend/search-room',
      buttonClass: 'search-rooms__btn',
      text: 'подобрать номер'
    })