mixin search-rooms
  .search-rooms
    .search-rooms__title Найдём номера под ваши пожелания
    .dropdown-date.search-rooms__date
      .search-rooms__dropdown
        p.search-rooms__text прибытие
        input.dropdown-date__range.dropdown-date__range_from.search-rooms__input(type="text" placeholder="ДД.ММ.ГГГГ" readonly)
      .search-rooms__dropdown
        p.search-rooms__text выезд
        input.dropdown-date__range.dropdown-date__range_to.search-rooms__input(type="text" placeholder="ДД.ММ.ГГГГ" readonly)
    .form-elements__dropdown
      +guest({
        title: 'гости',
        list: [
          {
            title: 'взрослые',
            list: [
              'взрослый',
              'взрослых',
              'взрослых'
            ]
          },
          {
            title: 'дети',
            list: [
              'ребенок',
              'ребенка',
              'детей'
            ]
          },
          {
            title: 'младенцы',
            list: [
              'младенец',
              'младенца',
              'младенцев'
            ],
            class: 'guest__counter_baby'
          }
        ]
      })
    +btn({
      theme: 'arrow',
      buttonClass: 'search-rooms__btn',
      text: 'подобрать номер'
    })