.form-elements {
  padding-top: 140px;
  padding-bottom: 250px;

  &__container {
    @include container(1188px);
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 83px;
    padding-top: 5px;
    @include media(1070px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__item {
    width: 320px;
    @include media(355px) {
      width: 310px;
    }
    &:nth-child(2) {
      width: 266px;
      @include media(1070px) {
        margin-top: 40px;
      }
    }
    &:nth-child(3) {
      @include media(1070px) {
        margin-top: 40px;
      }
      @include media(355px) {
        width: 310px;
      }
    }
  }
  &__dropdown {
    position: relative;
    span {
      position: absolute;
      right: 0;
      font-size: 12px;
      text-transform: uppercase;
      color: $dark50;
    }
    &:nth-child(1) {
      z-index: 10;
    }
  }

  &__default {
    @include elements-default;
    margin-bottom: 22px;

    &_focus {
      @include elements-default;
      margin-bottom: 22px;
      input {
        border: 1px solid rgba(31, 32, 65, 0.5);
        &::placeholder {
          color: $dark75;
        }
      }
    }
  }
  &__text {
    @include text-h3;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    span {
      color: $dark50;
      font-weight: 400;
    }
  }
  &__date {
    @include elements-default;
    margin-bottom: 19px;
    input {
      padding: 13px 15px;
      position: relative;
    }

    input:valid {
      text-transform: uppercase;
    }
  }
  &__datedropdown {
    max-width: 320px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
    @include media(420px) {
      flex-direction: column;
    }
  }
  &__filter {
    max-width: 266px;
    font-size: 12px;
    font-weight: 700;
    color: $dark;
    text-transform: uppercase;
    span {
      margin-bottom: 5px;
    }
  }

  &__filter-date {
    margin-bottom: 42px;
  }
  &__email {
    @include elements-default;
    position: relative;
    max-width: 267px;
    margin-bottom: 22px;
    button {
      @include btn-reset;
    }
    button {
      padding: 5px 10px;
      position: absolute;
      right: 4px;
      bottom: 5px;
    }
  }
  &__checkbox-item {
    margin-bottom: 45px;
  }
  &__checkbox-title {
    @include text-h3;
    margin-bottom: 19px;
  }

  &__radio {
    margin-bottom: 44px;
    &_title {
      @include text-h3;
      margin-bottom: 15px;
    }
  }
  &__toggle {
    margin-bottom: 47px;
    .toggle {
      margin-bottom: 19px;
    }
    &-title {
      @include text-h3;
      margin-bottom: 19px;
    }
  }
  &__rating {
    &_title {
      @include text-h3;
      margin-bottom: 15px;
    }
    &_inner {
      display: flex;
    }
  }
  &__list-checkbox {
    & + & {
      margin-top: 40px;
    }
  }
  &__advantages {
    margin-top: 82px;
  }
  &__dropdown-guest {
    max-width: 320px;
    @include media(355px) {
      max-width: 300px;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    .item {
      width: 320px;
      @include media(355px) {
        max-width: 300px;
      }
    }
    .item:nth-child(1) {
      max-width: 266px;
    }
    .item:nth-child(2) {
      margin-left: auto;
      margin-right: 72px;
      @include media(1070px) {
        margin: 0;
        margin-top: 40px;
      }
    }
    @include media(1070px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__rich-checkbox {
    margin-top: 238px;
  }
  &__bullet-list {
    margin-top: 238px;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    @include media(1070px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__comment {
    align-self: flex-end;
    margin-bottom: 15px;
    @include media(1070px) {
      margin-top: 40px;
    }
  }
}
