html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-anchor: none;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: $white;
  scroll-behavior: smooth;
  margin: 0;
}

img {
  max-width: 100%;
  border-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none;
}

.visually-hidden {
  @include visually-hidden;
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1190px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.ulkit-page {
  background-color: #e5e5e5;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input {
  outline: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
