.button-elements {
  margin-bottom: 41px;
  &__title {
    margin-bottom: 17px;
  }
  &__btn {
    width: 99px;
    height: 44px;
    margin-bottom: 29px;
    margin-left: 1px;
  }
  &__border {
    width: 99px;
    height: 44px;
    margin-bottom: 31px;
  }
  &__link {
    display: inline-block;
    margin-bottom: 32px;
  }
}
