.form-elements {
  padding-top: 140px;
  padding-bottom: 250px;

  &__container {
    @include container(1188px);
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 79px;
    padding-top: 5px;
    @include media(1070px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__textfield {
    width: 320px;
    @include media(355px) {
      width: 310px;
    }
  }
  &__checkbox {
    width: 266px;
    @include media(1070px) {
      margin-top: 40px;
    }
  }
  &__range {
    width: 320px;
    @include media(1070px) {
      margin-top: 40px;
    }
    @include media(355px) {
      width: 310px;
    }
  }

  &__dropdown {
    position: relative;
    span {
      position: absolute;
      right: 0;
      font-size: 12px;
      text-transform: uppercase;
      color: $dark50;
    }
    &:nth-child(1) {
      z-index: 10;
    }
  }

  &__default {
    @include elements-default;
    margin-bottom: 22px;
    input::placeholder {
      color: $dark75;
    }
    &_focus {
      @include elements-default;
      margin-bottom: 22px;
    }
  }
  &__text {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 12px;
    color: $dark;
    text-transform: uppercase;
    margin-bottom: 5px;
    span {
      color: $dark50;
      font-weight: 400;
    }
  }
  &__input {
    padding: 13px 35px 13px 15px;
    border: 1px solid $dark25;
    border-radius: 4px;
    &::placeholder {
      color: $dark25;
    }
    &_focus {
      outline: none;
      &::placeholder {
        color: $dark75;
        font-size: 14px;
      }
      &:hover {
        border: 1px solid rgba(31, 32, 65, 0.5);
      }
      &:focus {
        border: 1px solid rgba(31, 32, 65, 0.5);
      }
    }
  }
  &__date {
    @include elements-default;
    margin-bottom: 19px;
    input {
      padding: 13px 15px;
      position: relative;
    }

    input:valid {
      text-transform: uppercase;
    }
  }
  &__datedropdown {
    max-width: 320px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
  }
  &__datedrop {
    @include elements-default;
    width: 150px;
    position: relative;
    margin-bottom: 19px;
    input {
      padding: 13px 15px;
    }
    input:valid {
      text-transform: uppercase;
      color: $dark75;
    }
    &::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      background-image: url("../img/arrow-down.svg");
      background-repeat: no-repeat;
      right: 8px;
      bottom: 6px;
      pointer-events: none;
    }
  }
  &__filter {
    max-width: 266px;
    font-size: 12px;
    font-weight: 700;
    color: $dark;
    text-transform: uppercase;
    span {
      margin-bottom: 5px;
    }
  }
  &__datepicker {
    @include elements-default;
    max-width: 266px;
    position: relative;
    text-transform: lowercase;
    margin-bottom: 22px;
    input {
      text-transform: lowercase;
      padding: 13px 15px;
      border: 1px solid $dark25;
      border-radius: 4px;
      color: $dark75;
      cursor: pointer;
    }

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      background-image: url("../img/arrow-down.svg");
      background-repeat: no-repeat;
      right: 8px;
      bottom: 5px;
      pointer-events: none;
    }
  }
  &__filter-date {
    margin-bottom: 42px;
  }
  &__email {
    @include elements-default;
    position: relative;
    max-width: 267px;
    margin-bottom: 22px;
    button {
      @include btn-reset;
    }
    input {
      &::placeholder {
        color: $dark25;
      }
    }
    button {
      padding: 5px 10px;
      position: absolute;
      right: 4px;
      bottom: 5px;
    }
  }
  &__checkbox-item {
    margin-bottom: 40px;
  }
  &__toggle + &__toggle {
    margin-top: 17px;
  }
  &__list-checkbox {
    & + & {
      margin-top: 40px;
    }
  }
  &__advantages {
    margin-top: 94px;
  }
  &__dropdown-guest {
    max-width: 320px;
    @include media(355px) {
      max-width: 300px;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    .item {
      width: 320px;
      @include media(355px) {
        max-width: 300px;
      }
    }
    .item:nth-child(1) {
      max-width: 266px;
    }
    .item:nth-child(2) {
      margin-left: auto;
      margin-right: 72px;
      @include media(1070px) {
        margin: 0;
        margin-top: 40px;
      }
    }
    @include media(1070px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__rich-checkbox {
    margin-top: 238px;
  }
  &__bullet-list {
    margin-top: 238px;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    @include media(1070px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__comment {
    align-self: flex-end;
    margin-bottom: 15px;
    @include media(1070px) {
      margin-top: 40px;
    }
  }
}
.datepicker-here {
  cursor: pointer;
}
