mixin nav(navigation)
  nav.nav
    ul.nav__list
      each nav in navigation
        - const { submenu, name, items } = nav;
        if submenu
          li.nav__item.js-submenu
            a.nav__link.nav__link-dropdown= name
            +submenu({ items })
        else
          li.nav__item
            a(href='https://ramai1990.github.io/frontend/404.html').nav__link= name