.landing {
  height: 830px;
  background-image: url("../img/landing.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 70px;
  &__container {
    @include container(1190px);
    height: 762px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include media(900px) {
      height: 550px;
    }
  }
  &__description {
    align-self: flex-end;
    padding-bottom: 23px;
    text-align: right;
  }
  &__text {
    position: relative;
    right: -6px;
    width: 300px;
    color: $dark75;
    line-height: 24px;
  }
  @include media(900px) {
    height: 600px;
  }
}
